<form id="form" action="/management/athlete_form/" method="post">
    {% csrf_token %}
    <div id="divManageAthlete" align="center">
        <div class="row">
            <div class="col-3">
                TEAM<br/>
                {{ form.team }}<br/>
                {{form.team.errors}}
            </div>
            <div class="col-2">
                LEVEL<br/>
                {{ form.level }}<br/>
                {{form.level.errors}}
            </div>
            <div class="col-2">
                AGE<br/>
                {{ form.age }}<br/>
                {{form.age.errors}}
            </div>
            <div class="col-3">
                NAME<br/>
                {{ form.name }}<br/>
                {{form.name.errors}}
            </div>
            <div class="col-2">
                ROTATION<br/>
                {{ form.rotation }}<br/>
                {{form.rotation.errors}}
            </div>
        </div>
        {{form.session}}
        <br/>
        <div class="row">
            <div class="col-6 pl-4" align="left">
                EVENT(S) COMPETING<br/>
                {{ form.events_competing }}<br/>
                {{form.events_competing.errors}}
            </div>
            <div class="col-6 pl-4" align="left">
                EVENT(S) COUNT FOR TEAM SCORE<br/>
                {{ form.events_count_for_team }}<br/>
                {{form.events_count_for_team.errors}}
            </div>
            
        </div>
        
        <input type="hidden" id="id" name="id" value="{{id}}" />
        <input type="submit" href="#" id="btnAthleteFinish" class="btn btn-main" value="Save">
        <button href="#" id="btnAthleteCancel" type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
    </div>
</form>