<form id="form" action="/management/competition_form/" method="post">
    {% csrf_token %}
    <div id="divManageCompeition" align="center">
        <div class="row no-gutters">
            <div class="col-5">
                COMPETITION NAME<br/>
                {{ form.name }}<br/>
                {{form.name.errors}}
            </div>
            <div class="col-4">
                COMPETITION TYPE<br/>
                {{ form.type }}<br/>
                {{form.type.errors}}
            </div>
            <div class="col-3">
                DATE<br/>
               {{ form.date }}<br/>
               {{form.date.errors}}
            </div>
        </div>
        {{ form.disc }}
        <br/>
        <input type="hidden" id="id" name="id" value="{{id}}" />
        <input type="submit" href="#" id="btnCompFinish" class="btn btn-main" value="Save">
        <button href="#" id="btnCompCancel" type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
    </div>
</form>