{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<div align="center" style="margin:10px;padding:0">
    <h3>{{session_name}}</h3><br/>
    <div>
	    <div id="divTeams" style="display:inline-block;vertical-align: top;padding:3px;display:inline-block;margin-right:30px;">
	        <div id="divTeamHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Teams</div>
            <!--<div style="width:310px;">
                <div class="row">
                    <div class="col-8" align="left">
                        GYM NAME
                    </div>
                     <div class="col-4" align="right">
                        ABBREV.
                    </div>
                </div>
            </div>-->
	        <div id="divTeamList"class="listbox mb-2 setup-box"  style="width:310px;"></div>
	        <div id="divTeamButtonsArea">
		        <button href="#" id="btnTeamsAdd"  type="button" class="btn btn-main management-button" data-toggle="modal" data-target="#modalMain" onclick="AddTeamStart()">Add</button>
		        <button href="#" id="btnTeamsEdit"  type="button" class="btn btn-main management-button ui-disabled" data-toggle="modal" data-target="#modalMain" onclick="EditTeamStart()">Edit</button>
		        <button href="#" id="btnTeamsDelete"  type="button" class="btn btn-red management-button ui-disabled" onclick="TeamDelete()">Delete</button>
	        </div>
	    </div>

        <div id="divAthletes" style="vertical-align: top;padding:3px;display:inline-block;margin-right:30px;" class="ui-disabled">
		    <div id="divAthleteHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Athletes <span style="font-size:12px;font-weight:normal">(drag to order)</span></div>
            <!--<div style="width:360px;">
                <div class="row">
                    <div class="col-4" align="left">
                        LVL
                    </div>
                     <div class="col-6" align="center">
                        NAME
                    </div>
                     <div class="col-2" align="right">
                        ROTATION
                    </div>
                </div>
            </div>-->
		    <div id="divAthleteList" class="listbox mb-2 setup-box" style="width:360px;"></div>
		    <div id="divAthleteButtonsArea">
		        <button href="#" id="btnAthAdd"   type="button" class="btn btn-main management-button"  data-toggle="modal" data-target="#modalMain" onclick="AddAthleteStart()">Add</button>
		        <button href="#" id="btnAthEdit"  type="button" class="btn btn-main management-button ui-disabled" data-toggle="modal" data-target="#modalMain" onclick="EditAthleteStart()">Edit</button>
		        <button href="#" id="btnAthDelete"   type="button" class="btn btn-red management-button ui-disabled" onclick="AthleteDelete()">Delete</button><br/>
                <button href="#" id="btnAthImport"   type="button" class="btn btn-main management-button"  data-toggle="modal" data-target="#modalMain" onclick="ImportAthleteStart()">Import</button>
	        </div>
	    </div>
    </div>
    <div id="divRotationNote" style="font-size:.85rem">NOTE: Athlete rotation signifies which event they start on depending on rotation settings (next screen). {{rotation_note}}</div>
    <br/>
    <br/>
    <div>
        <button id="btnBack" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="GoBack()">Return to<br/>Previous Page</button>
        <button id="btnNext" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="NextClick()">Save and<br/>Continue (3/7)</button>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/sortable.min.js' %}?v=1.1"></script>
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{id}}";
</script>
<script type="text/javascript">
    var SelectedTeam = -1;
    var SelectedAthlete = -1;
    var TeamCount;
    var Changed = false;

    $("#divTeamList").load("/management/team_list/" + SessionID, function () {
        if (TeamCount > 0) {
            $("#divAthletes").removeClass("ui-disabled");
            FillAthletes();
        }
    });
   
    function GoBack() {
        window.location = "/management/setup_judges/" + SessionID;
    }

    function NextClick() {
        window.location = "/management/setup_rotations/" + SessionID;
    }

    function AthleteClick(athIn) {
        $('.ath-list').removeClass("ctxSelected");
        $("#divAthlete" + athIn).addClass("ctxSelected");
        SelectedAthlete = athIn;
        EnableDisableButtons("Ath", true);
        //$("#btnNext").removeClass("ui-disabled");

    }
        function EmailChange() {
        if (($("#id_coach_password").val() == "" || $("#id_coach_password").val() == " ") && ($("#id_head_coach_email").val() != "")) {
            $("#id_coach_password").val(generate(6));
        }
    }

    function generate(length) {
        var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
            result = ""
        for (var i = length; i > 0; --i)
            result += chars[Math.round(Math.random() * (chars.length - 1))]
        return result
    }
    function TeamClick(TeamIn) {
        
        $('.team-list').removeClass("ctxSelected");
        $("#divTeam" + TeamIn).addClass("ctxSelected");
        SelectedTeam = TeamIn;
        $("#divAthletes").removeClass("ui-disabled");
        FillAthletes();
        EnableDisableButtons("Teams", true);
        //$("#btnNext").addClass("ui-disabled");
    }

    function AddTeamStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("ADD TEAM");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/team_form", function () {
            AttachTeamForm();
        });

        $("#modalBodyArea1").show();
    }

    function EditTeamStart() {
        if (SelectedTeam != -1) {
            $("#modalMainDoc").addClass("modal-lg");
            $("#modalMainTitle").html("EDIT TEAM");
            $(".modal-dialog")
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/team_form/?id=" + SelectedTeam, function () {
                AttachTeamForm();
            });

            $("#modalBodyArea1").show();
        }
    }
    function TeamDelete() {
        if (SelectedTeam != -1) {
            $.ajax({
                url: "/management/team_delete/" + SelectedTeam,
                success: function () {
                    $("#divTeamList").load("/management/team_list/" + SessionID); 
                    Changed = false;
                    SelectedTeam = -1;
                    $('.athlete-list').removeClass("ctxSelected");
                    $("#divAthletes").addClass('ui-disabled');
                    $("#divAthleteList").empty();
                    EnableDisableButtons("Ath", false);
                    EnableDisableButtons("Teams", false);
                    //$("#btnNext").addClass("ui-disabled");
                }
            });
    
        }
    }

    function AttachTeamForm() {
        var frm = $('#form');
        $("#id_session").val(SessionID);
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#modalBodyArea1").empty();
                        $("#modalBodyArea1").html(data);
                        AttachTeamForm();
                        //console.log("Error");
                    }
                    else {
                        TeamManageFinishParent();
                    }
                },
                error: function(data) {
                    
                }
            });
            return false;
        });
    }

    function AttachAthleteForm() {
        var frm = $('#form');
        $("#id_level").change(function () {
            var levelID = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
            url: "/management/athlete_ages_list/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'level': levelID       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_age").html(data);  // replace the contents of the city input with the data that came from the server
                $("#id_age").selectpicker('refresh');
                $("#id_age")[0].selectedIndex = 0;
            }
            });

        });
        //$("#id_team").val(SelectedTeam);
        $("#id_session").val(SessionID);
        $('.selectpicker').selectpicker();
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#modalBodyArea1").empty();
                        $("#modalBodyArea1").html(data);
                        AttachAthleteForm();
                        //console.log("Error");
                    }
                    else {
                        AthleteManageFinishParent();
                    }
                },
                error: function(data) {
                }
            });
            return false;
        });
        
    }

    function AttachImportForm() {
        var frm = $('#form');
        //$("#id_team").val(SelectedTeam);
        $("#id_session").val(SessionID);
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: new FormData(document.getElementById("form")),
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data);
                    AthleteImportFinishParent();

                },
                error: function(data) {
                }
            });
            return false;
        });
    }

    function TeamManageFinishParent() {
        $("#modalMain").modal('hide');
        $("#divTeamList").load("/management/team_list/" + SessionID, function () {
            if (TeamCount > 0) 
                $("#divAthletes").removeClass("ui-disabled");
            console.log("comp finish " + SelectedTeam);
            if (SelectedTeam != -1) 
                TeamClick(SelectedTeam);
        });
        
    }

    function ImportAthleteStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("IMPORT ATHLETES");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/athlete_list_upload/?session=" + SessionID, function () {
            AttachImportForm();
        });

        $("#modalBodyArea1").show();
    }
     function AthleteImportFinishParent() {
        $("#modalMain").modal('hide');
         $("#divAthleteList").load("/management/athlete_list/" + SessionID, function () {
             Sortable.create(divAthleteList, { onEnd: SortEnd });
             UpdateAthleteOrder();
             SelectedAthlete = -1
        });
        
    }
    function AddAthleteStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("ADD ATHLETE");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/athlete_form/?session=" + SessionID, function () {
            AttachAthleteForm();
        });

        $("#modalBodyArea1").show();
    }
    function EditAthleteStart() {
        if (SelectedAthlete != -1) {
            $("#modalMainDoc").addClass("modal-lg");
            $("#modalMainTitle").html("EDIT ATHLETE");
            $(".modal-dialog")
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/athlete_form/?id=" + SelectedAthlete + "&session=" + SessionID, function () {
                AttachAthleteForm();
            });

            $("#modalBodyArea1").show();
        }
    }

     function AthleteManageFinishParent() {
        $("#modalMain").modal('hide');
         $("#divAthleteList").load("/management/athlete_list/" + SessionID, function () {
             Sortable.create(divAthleteList, { onEnd: SortEnd });
             UpdateAthleteOrder();
            if (SelectedAthlete != -1)
                AthleteClick(SelectedAthlete);
        });
        
    }

    

    function AthleteDelete() {
        if (SelectedAthlete != -1) {
            $.ajax({
                url: "/management/athlete_delete/" + SelectedAthlete,
                data: {
                    'id': SelectedAthlete,
                },
                success: function () {
                    FillAthletes();
                    SelectedAthlete = -1;
                    //$("#btnNext").addClass("ui-disabled");
                }
            });
        }
    }

    function GenerateStartListClick() {
        CheckStartList();
    }

    function GenerateStartList() {
        $.ajax({
            url: "/management/create_start_lists/" + SessionID,
            dataType: 'json',
            success: function (data) {
                alert(data.message);
                //$("#btnNext").addClass("ui-disabled");
            }
        });

    }

    function CheckStartList() {
        $.ajax({
            url: "/management/check_start_lists/" + SessionID,
            dataType: 'json',
            success: function (data) {
                if (data.message == "ok")
                    GenerateStartList();
                else if (data.message == "live")
                    alert("Session in progress, make any changes on the Session Overview screen.");
                else
                    ConfirmStartListGenerate();
            }
        });

    }

    function ConfirmStartListGenerate() {
        $("#modalMainDoc").removeClass("modal-lg");
        $("#modalMainTitle").html("Generate Start List");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/start_list_warn/")
        $("#modalMain").modal('show');
    }

    function FillAthletes() {
        $("#divAthleteList").load("/management/athlete_list/" + SessionID);
        EnableDisableButtons("Ath", false);
        Sortable.create(divAthleteList, {onEnd: SortEnd});
    }
   

    function EnableDisableButtons(typeIn, enabledIn) {
        if (enabledIn) {
            $("#btn" + typeIn + "Edit").removeClass("ui-disabled");
            $("#btn" + typeIn + "Delete").removeClass("ui-disabled");
        }
        else {
            $("#btn" + typeIn + "Edit").addClass("ui-disabled");
            $("#btn" + typeIn + "Delete").addClass("ui-disabled");
        }
    }

    function SortEnd(evt) {
        UpdateAthleteOrder();
    }

    function UpdateAthleteOrder() {
        var AthList = "";
        $("#divAthleteList").children("div").each(function () {
            AthList += "," + $(this).attr("athid");
        });
        AthList = AthList.substring(1);
        $.ajax({
            url: '/management/athlete_update_order/',
            data: {
                'session': SessionID,
                'ath_order': AthList
            },
            headers: { "X-CSRFToken": token },
            type:'POST',
            success: function (data) {
                console.log("Athlete Order Updated");
            }
      });
    }
</script>
{% endblock %}
