{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    <div>
        <div id="divDisc" style="vertical-align: top;padding:3px;height:254px;display:inline-block;margin-right:30px;">
		    <div id="divDiscHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Discipline</div>
		    <div id="divDiscList" class="listbox" style="height:180px;">
                {% for disc in discs %}
                    <div id="divDisc{{disc.id}}" name="divDisc{{disc.id}}" class="disc-list{% if disc.active is False %} ui-disabled {% endif %}" style="padding-bottom:5px" onclick="DiscClick({{disc.id}});">{{disc.name}}</div>
                {% endfor %}
		        
		    </div>
	    </div>

	    <div id="divCompetitions" style="display:inline-block;vertical-align: top;padding:3px;display:inline-block;margin-right:30px;" class="ui-disabled">
	        <div id="divCompHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Competition</div>
	        <div id="divCompList"class="listbox"  style="width:400px;height:180px;"></div><br/>
	        <div id="divCompButtonsArea">
		        <button href="#" id="btnCompAdd"  type="button" class="btn btn-main management-button" data-toggle="modal" data-target="#modalMain" onclick="AddCompStart()">Add</button><br/>
		        <button href="#" id="btnCompEdit"  type="button" class="btn btn-main management-button ui-disabled" data-toggle="modal" data-target="#modalMain" onclick="EditCompStart()">Edit</button><br/>
		        <button href="#" id="btnCompDelete"  type="button" class="btn btn-red management-button ui-disabled" onclick="CompDelete()">Delete</button>
	        </div>
	    </div>

        <div id="divSessions" style="vertical-align: top;padding:3px;display:inline-block;margin-right:30px;" class="ui-disabled">
		    <div id="divSessionHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Session</div>
		    <div id="divSessionList" class="listbox" style="width:240px;height:180px;"></div><br/>
		    <div id="divSessionButtonsArea">
		        <button href="#" id="btnSessionhAdd"   type="button" class="btn btn-main management-button"  data-toggle="modal" data-target="#modalMain" onclick="AddSessionStart()">Add</button><br/>
		        <button href="#" id="btnSessionEdit"  type="button" class="btn btn-main management-button ui-disabled" data-toggle="modal" data-target="#modalMain" onclick="EditSessionStart()">Edit</button><br/>
		        <button href="#" id="btnSessionDelete"   type="button" class="btn btn-red management-button ui-disabled" onclick="SessionDelete()">Delete</button>
	        </div>
	    </div>
    </div>
    <br/>
    <br/>
    <div>
        <button href="#" id="btnNext" type="button" class="btn-main ui-disabled pt-4 pb-4" style="border-radius: 1rem;" onclick="btnNextClick()">Save and<br/>Continue (1/6)</button>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var token = "{{ csrf_token }}";
</script>
<script type="text/javascript">
    var SelectedComp = -1;
    var SelectedDisc = -1;
    var SelectedSession = -1;
    var SelectedEvent = -1;
    var Changed = false;
   

    function btnNextClick() {
        if (SelectedSession != -1) {
            window.location = "/management/setup_judges/" + SelectedSession;
        }
    }

    function SessionClick(sesIn) {
        $('.session-list').removeClass("ctxSelected");
        $("#divSession" + sesIn).addClass("ctxSelected");
        SelectedSession = sesIn;
        $("#btnNext").removeClass("ui-disabled");
        EnableDisableButtons("Session", true);

    }

    function DiscClick(discIn) {
        $('.disc-list').removeClass("ctxSelected");
        $("#divDisc" + discIn).addClass("ctxSelected");
        SelectedDisc = discIn;
        SelectedComp = -1;
        $("#divCompetitions").removeClass("ui-disabled");
        $("#divCompList").load("/management/competition_list/?disc=" + SelectedDisc);
        $("#divSessionList").empty();
        $("#divSessions").addClass("ui-disabled");
        $("#btnNext").addClass("ui-disabled");
        EnableDisableButtons("Comp", false);

    }


    function DisableAll() {
        //$("#divDisc").addClass("ui-disabled");
        $("#divCompetitions").addClass("ui-disabled");
        $("#divSessions").addClass("ui-disabled");
        $("#btnNext").addClass("ui-disabled");
    }

    function CompClick(CompIn) {
        
        $('.comp-list').removeClass("ctxSelected");
        $("#divComp" + CompIn).addClass("ctxSelected");
        SelectedComp = CompIn;
        $("#divSessions").removeClass("ui-disabled");
        FillSession();
        $("#btnNext").addClass("ui-disabled");
        EnableDisableButtons("Comp", true);
        EnableDisableButtons("Session", false);
    }

    function AddCompStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("ADD COMPETITION");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/competition_form", function () {
            AttachCompForm();
        });

        $("#modalBodyArea1").show();
    }

    function EditCompStart() {
        if (SelectedComp != -1) {
            $("#modalMainDoc").addClass("modal-lg");
            $("#modalMainTitle").html("EDIT COMPETITION");
            $(".modal-dialog")
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/competition_form/?id=" + SelectedComp, function () {
                AttachCompForm();
            });

            $("#modalBodyArea1").show();
        }
    }
    function CompDelete() {
        if (SelectedComp != -1) {
            $.ajax({
                url: "/management/competition_delete/",
                data: {
                    'id': SelectedComp,
                },
                success: function () {
                    $("#divCompList").load("/management/competition_list/?disc=" + SelectedDisc); 
                    Changed = false;
                    SelectedComp = -1;
                    $('.session-list').removeClass("ctxSelected");
                    $("#divSessions").addClass('ui-disabled');
                    $("#divSessionList").empty();
                    $("#btnNext").addClass("ui-disabled");
                    EnableDisableButtons("Session", false);
                    EnableDisableButtons("Comp", false);
                }
            });
    
        }
    }

    function AttachCompForm() {
        console.log("attach");
        var frm = $('#form');
        $("#id_disc").val(SelectedDisc);
        $('.selectpicker').selectpicker();
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#modalBodyArea1").empty();
                        $("#modalBodyArea1").html(data);
                        AttachCompForm();
                        //console.log("Error");
                    }
                    else {
                        CompManageFinishParent();
                    }
                },
                error: function(data) {
                    
                }
            });
            return false;
        });
    }

    function AttachSessionForm() {
        var frm = $('#form');
        $("#id_competition").val(SelectedComp);
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#modalBodyArea1").empty();
                        $("#modalBodyArea1").html(data);
                        AttachSessionForm();
                        //console.log("Error");
                    }
                    else {
                        SessionManageFinishParent();
                    }
                },
                error: function(data) {
                }
            });
            return false;
        });
    }

    function CompManageFinishParent() {
        $("#modalMain").modal('hide');
        $("#divCompList").load("/management/competition_list/?disc=" +SelectedDisc, function () {
            console.log("comp finish " + SelectedComp);
            if (SelectedComp != -1) 
                CompClick(SelectedComp);
        });
        
    }

    function AddSessionStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("ADD SESSION");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/session_form/", function () {
            AttachSessionForm();
        });

        $("#modalBodyArea1").show();
    }
    function EditSessionStart() {
        if (SelectedSession != -1) {
            $("#modalMainDoc").addClass("modal-lg");
            $("#modalMainTitle").html("EDIT SESSION");
            $(".modal-dialog")
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/session_form/?id=" + SelectedSession, function () {
                AttachSessionForm();
            });

            $("#modalBodyArea1").show();
        }
    }

     function SessionManageFinishParent() {
        $("#modalMain").modal('hide');
        $("#divSessionList").load("/management/session_list/?comp="+ SelectedComp, function () {
            if (SelectedSession != -1)
                SessionClick(SelectedSession);
        });
        
    }

    function SessionDelete() {
        if (SelectedSession != -1) {
            $.ajax({
                url: "/management/session_delete/",
                data: {
                    'id': SelectedSession,
                },
                success: function () {
                    FillSession();
                    SelectedSession = -1;
                    $("#btnNext").addClass("ui-disabled");
                    EnableDisableButtons("Session", false);
                }
            });
        }
    }

    function FillSession() {
        $("#divSessionList").load("/management/session_list/?comp="+ SelectedComp);
    }

    function EnableDisableButtons(typeIn, enabledIn) {
        if (enabledIn) {
            $("#btn" + typeIn + "Edit").removeClass("ui-disabled");
            $("#btn" + typeIn + "Delete").removeClass("ui-disabled");
        }
        else {
            $("#btn" + typeIn + "Edit").addClass("ui-disabled");
            $("#btn" + typeIn + "Delete").addClass("ui-disabled");
        }
    }
</script>
{% endblock %}
