{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    {{session_name}}<br/>
    <br/>
    {% if setup_complete %}
        <div class="timer-green">COMPETITION SETUP COMPLETE</div>
        <br/>
        Send competition information to judges, coaches, and camera operators
        <br/><br/>
        <button id="btnSendEmails" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="Send()">Send</button>
        <br/>
        <br/>
     {% else %}
        <div class="timer-yellow">COMPETITION SETUP INCOMPLETE</div>
        {% if missed_athlete %}
            <div class="errorlist">You need at least one athlete.</div>
        {% endif %}
        {% if missed_judge %}
            <div class="errorlist">You need at least a D1 judge for every event.</div>
        {% endif %}
        {% if missed_camera %}
            <div class="errorlist">You need a camera for every event and team</div>
        {% endif %}
        <br/>
    {% endif %}
    <div>
        <button id="btnBack" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="GoBack()">Return to<br/>Previous Page</button>
        <button id="btnFirst" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="FirstClick()">Return to<br/>First Page</button>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{id}}";
</script>
<script type="text/javascript">
    var Changed = false;
    var gonext = false;


    function Send() {
        $.ajax({
            url: "/management/send_session_emails/" + SessionID,
            success: function () {
                alert("Notifications Sent");
            }
        });

    }

    function GoBack() {

        window.location = "/management/setup_sponsors/" + SessionID;

    }

    function FirstClick() {
        window.location = "/management/setup_competition/";
    }




   
</script>
{% endblock %}
