{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    <div>
        <div id="divCameras" style="vertical-align: top;padding:3px;display:inline-block;margin-right:30px;">
		    <div id="divCameraHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Cameras</div>
            <div style="width:600px;">
                <div class="row">
                    <div class="col-3" align="left">
                        &nbsp;NAME
                    </div>
                    <div class="col-3" align="center">
                        LOCATION
                    </div>
                    <div class="col-3" align="center">
                        EVENT(S)
                    </div>
                    <div class="col-3" align="right">
                        TEAM(S)&nbsp;
                    </div>
                </div>
            </div>
		    <div id="divCameraList" class="listbox mb-2" style="width:600px;height:180px;"></div>
		    <div id="divCameraButtonsArea">
		        <button href="#" id="btnCameraAdd"   type="button" class="btn btn-main management-button"  data-toggle="modal" data-target="#modalMain" onclick="AddCameraStart()">Add</button>
		        <button href="#" id="btnCameraEdit"  type="button" class="btn btn-main management-button ui-disabled" data-toggle="modal" data-target="#modalMain" onclick="EditCameraStart()">Edit</button>
		        <button href="#" id="btnCameraDelete"   type="button" class="btn btn-red management-button ui-disabled" onclick="CameraDelete()">Delete</button>
	        </div>
	    </div>
    </div>
    <br/>
    <br/>
    <div>
        <button id="btnBack" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="GoBack()">Return to<br/>Previous Page</button>
        <button id="btnNext" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="NextClick()">Save and<br/>Continue (4/7)</button>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{id}}";
</script>
<script type="text/javascript">
    var SelectedTeam = -1;
    var SelectedCamera = -1;
    var Changed = false;

    $("#divCameraList").load("/management/camera_list/" + SessionID); 
   
    function GoBack() {
        window.location = "/management/setup_athletes/" + SessionID;
    }

    function NextClick() {
        window.location = "/management/setup_sponsors/" + SessionID;
    }

    function EnableDisableButtons(typeIn, enabledIn) {
        if (enabledIn) {
            $("#btn" + typeIn + "Edit").removeClass("ui-disabled");
            $("#btn" + typeIn + "Delete").removeClass("ui-disabled");
        }
        else {
            $("#btn" + typeIn + "Edit").addClass("ui-disabled");
            $("#btn" + typeIn + "Delete").addClass("ui-disabled");
        }
    }

    function EmailChange() {
        if (($("#id_password").val() == "" || $("#id_password").val() == " ") && ($("#id_email").val() != "")) {
            $("#id_password").val(generate(6));
        }
    }

    function generate(length) {
        var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
            result = ""
        for (var i = length; i > 0; --i)
            result += chars[Math.round(Math.random() * (chars.length - 1))]
        return result
    }

    function CameraClick(camIn) {
        $('.camera-list').removeClass("ctxSelected");
        $("#divCamera" + camIn).addClass("ctxSelected");
        SelectedCamera = camIn;
        EnableDisableButtons("Camer", true)
        //$("#btnNext").removeClass("ui-disabled");

    }

    function AttachCameraForm() {
        var frm = $('#form');
        $("#id_session").val(SessionID);
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#modalBodyArea1").empty();
                        $("#modalBodyArea1").html(data);
                        AttachCameraForm();
                        //console.log("Error");
                    }
                    else {
                        CameraManageFinishParent();
                    }
                },
                error: function(data) {
                }
            });
            return false;
        });
    }


    function AddCameraStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("ADD CAMERA");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/camera_form/?session=" + SessionID, function () {
            AttachCameraForm();
        });

        $("#modalBodyArea1").show();
    }
    function EditCameraStart() {
        if (SelectedCamera != -1) {
            $("#modalMainDoc").addClass("modal-lg");
            $("#modalMainTitle").html("EDIT CAMERA");
            $(".modal-dialog")
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/camera_form/?id=" + SelectedCamera + "&session=" + SessionID, function () {
                AttachCameraForm();
            });

            $("#modalBodyArea1").show();
        }
    }

     function CameraManageFinishParent() {
        $("#modalMain").modal('hide');
        $("#divCameraList").load("/management/camera_list/"+ SessionID, function () {
            if (SelectedCamera != -1)
                CameraClick(SelectedCamera);
        });
        
    }

    function CameraDelete() {
        if (SelectedCamera != -1) {
            $.ajax({
                url: "/management/camera_delete/" + SelectedCamera,
                data: {
                    'id': SelectedCamera,
                },
                success: function () {
                    FillCameras();
                    SelectedCamera = -1;
                    EnableDisableButtons("Camera", false)
                    //$("#btnNext").addClass("ui-disabled");
                }
            });
        }
    }

    function FillCameras() {
        $("#divCameraList").load("/management/camera_list/"+ SessionID);
    }
</script>
{% endblock %}
