{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    {{session_name}}<br/>
    <br/>
    {% if setup_complete %}
        <div class="timer-green">COMPETITION SETUP COMPLETE</div>

     {% else %}
        <div class="timer-yellow">COMPETITION SETUP INCOMPLETE</div>
        {% if missed_athlete %}
            <div class="errorlist">You need at least one athlete.</div>
        {% endif %}
        {% if missed_judge %}
            <div class="errorlist">You need at least a D1 judge for every event.</div>
        {% endif %}
        {% if missed_camera %}
            <div class="errorlist">You need a camera for every event and team</div>
        {% endif %}

    {% endif %}
     <br/>
    {% if not email_sent %}
        Send competition information to judges, coaches, and camera operators.
    {% else %}
        You have already sent the email notice.  If you have made changes to judges, coaches or camera operator account you can send the notices again.
    {% endif %}
        <br/>
        <button id="btnSendEmails" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="Send()">Send</button>
        <br/><br/>
    {% if not session_active %}
        {% if missed_athlete or missed_camera %}
        <div id="divActivate">
            Setup incomplete, finish setup to allow activation.<br/>
            <button id="btnActivate" type="button" class="btn-main btn-wide pt-4 pb-4 ui-disabled" style="border-radius: 1rem;" onclick="Activate()">Activate</button>
        </div>
        {% else %}
            {% if session_paid %}
                <div id="divActivate">
                    Activate the competition when ready.<br/>
                    <button id="btnActivate" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="Activate()">Activate</button>
                </div>
            {% else %}
                <div>
                    You have {{num_panels}} judging panels, this session will cost ${{session_cost}}.<br/>
                    <div class="payment-container">
                        <div id="card-element">
                          <!-- Elements will create input elements here -->
                        </div>
                        <button id="btnPayNow" class="payment-button" onclick="PayClick()">Pay Now</button>
                    </div>
                    <!-- We'll put the error messages in this element -->
                    <div id="card-errors" role="alert" class="errorlist"></div>

                    {% if request.user.is_staff %}
                          <br/>
                         <button id="btnBypass" type="button" class="btn btn-main mt-2" onclick="BypassPayment()">Staff Bypass Payment</button>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
     <button id="btnSessionOverview" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;{% if not session_active %}display:none{% endif %}" onclick="btnSessionOverviewClick()">Session<br/>Overview</button>
    <br/>
    <br/>
    <div>
        <button id="btnBack" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="GoBack()">Return to<br/>Previous Page</button>
        <button id="btnFirst" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="FirstClick()">Return to<br/>First Page</button>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var stripe = Stripe('{{stripe_pk}}');
    var intent_secret = '{{intent_secret}}';
    var SessionID = "{{id}}";
</script>
{% if not session_paid %}
<script type="text/javascript">
    var elements = stripe.elements();
     var style = {


    };
     var card = elements.create("card", { style: style });
    card.mount("#card-element");
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    function PayClick() {
        //var cardholderName = document.querySelector("#name").value;
        var data = {
            card: card,
            billing_details: {}
        };
        //if (cardholderName) {
        //    data["billing_details"]["name"] = cardholderName;
       // }
       // $("#modalLoadText").html("Processing...");
        //$("#modalLoad").modal('show');
        $("#btnPayNow").addClass('ui-disabled');
        console.log("sending");
        stripe.confirmCardPayment(intent_secret, {
            payment_method:data,
            setup_future_usage: 'on_session'
        }).then(function (result) {
            console.log(result);
             $("#btnPayNow").removeClass('ui-disabled');
            //$("#modalLoad").modal('hide');
            if (result.error) {
                // Show error to your customer
                $("#card-errors").html(result.error.message);
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    alert('Payment Accepted');
                    window.location.reload();
                    // Show a success message to your customer
                    // There's a risk of the customer closing the window before callback execution
                    // Set up a webhook or plugin to listen for the payment_intent.succeeded event
                    // to save the card to a Customer

                    // The PaymentMethod ID can be found on result.paymentIntent.payment_method
                }
            }
             $("#modalLoad").modal('hide');
        });
    }
</script>
{% endif  %}
<script type="text/javascript">
    var Changed = false;
    var gonext = false;


    function Send() {
        $("#btnSendEmails").addClass("ui-disabled");
        $.ajax({
            url: "/management/send_session_emails/" + SessionID,
            success: function () {
                
            }
        });
        alert("Email Notifications Sending");

    }

    function BypassPayment() {
        $.ajax({
            url: "/management/staff_bypass_payment/" + SessionID,
            success: function () {
                window.location.reload();
            }
        });

    }

     function Activate() {
        $("#btnActivate").addClass("ui-disabled");
        $("#modalLoadText").html("Activating...");
        $("#modalLoad").modal('show');
        $.ajax({
            url: "/management/session_activate/" + SessionID,
            success: function () {
                $("#divActivate").hide();
                $("#btnSessionOverview").show();
                $("#modalLoad").modal('hide');
                 alert("Session activated, please review start lists on the overview page.");
            }
        });
       

    }

    function btnSessionOverviewClick() {
            window.location = "/overview/" + SessionID;
    }

    function GoBack() {

        window.location = "/management/setup_sponsors/" + SessionID;

    }

    function FirstClick() {
        window.location = "/management/setup_competition/";
    }




   
</script>
{% endblock %}
