{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<div align="center" style="margin:10px;padding:0">
    <h3>{{session_name}}</h3><br/>
    <div>
        <div id="divRotationsHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Rotations <span style="font-size:12px;font-weight:normal">(drag to order)</span></div>
        <div class="d-flex justify-content-center">
        {% if rot_ords %}
        {% for rot in rot_ords %}
            {% ifchanged rot.rotation %}
                {% if not forloop.first %}
                    </div>
                    </div>
                {% endif %}
                <div align="center" class="pr-4">
                    {{ rot.rotation }}
                    <div id="divRot{{rot.rotation}}" class="listbox sortable rot-list-{{rot.rotation}}" rotletter="{{rot.rotation}}" style="width:50px">
            {% endifchanged %}
                        <div style="cursor:pointer" id="divRot{{rot.rotation}}{{rot.event.name}}" rotevent="{{rot.event.id}}" title="{{rot.event.full_name}}">{{rot.event.name}}</div> 
        {% endfor %}
        </div></div></div>
        {% endif %}
    </div>
    <div id="divRotationError" style="color:red;font-size:.85rem;">{{rotation_error}}</div>
    <br/>
    <div id="divRotationNote"  style="font-size:.85rem">Once your rotations are set in the correct order, use the button below to create the start lists.</div><br/>
    <button href="#" id="btnGenStartList" type="button" class="btn btn-main management-button" onclick="GenerateStartListClick()">Generate Start Lists</button>
    <br/>
    <div>
        <button id="btnBack" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="GoBack()">Return to<br/>Previous Page</button>
        <button id="btnNext" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="NextClick()">Save and<br/>Continue (4/7)</button>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/sortable.min.js' %}?v=1.1"></script>
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{id}}";
    var OKToProceed = {{rotation_ok|lower}};
    function SortEnd(evt) {
        UpdateRotationOrder(evt.to);
    }
    {% for rot in rotations %}
       Sortable.create(divRot{{rot}}, { onEnd: SortEnd });
    {% endfor %}
    {% if rotation_error == "" %}
    var RotationError = false;
    {% else %}
     var RotationError = true;
    {% endif %}
</script>
<script type="text/javascript">

    function GoBack() {
        window.location = "/management/setup_athletes/" + SessionID;
    }

    function NextClick() {
        window.location = "/management/setup_cameras/" + SessionID;
    }

    function GenerateStartListClick() {
        if (!RotationError)
            CheckStartList();
        else
            alert($("#divRotationError").html());
    }

    function GenerateStartList() {
        $.ajax({
            url: "/management/create_start_lists/" + SessionID,
            dataType: 'json',
            success: function (data) {
                alert(data.message);
                //$("#btnNext").addClass("ui-disabled");
            }
        });

    }

    function CheckStartList() {
        $.ajax({
            url: "/management/check_start_lists/" + SessionID,
            dataType: 'json',
            success: function (data) {
                if (data.message == "ok")
                    GenerateStartList();
                else if (data.message == "live")
                    alert("Session in progress, make any changes on the Session Overview screen.");
                else
                    ConfirmStartListGenerate();
            }
        });

    }

    function ConfirmStartListGenerate() {
        $("#modalMainDoc").removeClass("modal-lg");
        $("#modalMainTitle").html("Generate Start List");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/start_list_warn/")
        $("#modalMain").modal('show');
    }

    function UpdateRotationOrder(rot) {
        let rotletter = $(rot).attr("rotletter")
        let RotList = "";
        $(rot).children("div").each(function () {
            RotList += "," + $(this).attr("rotevent");
        });
        RotList = RotList.substring(1);
        $.ajax({
            url: '/management/rotation_update_order/',
            data: {
                'session': SessionID,
                'rot_order': RotList,
                'rot_letter': rotletter
            },
            headers: { "X-CSRFToken": token },
            type: 'POST',
            success: function (data) {
                if (data.includes("Multiple")) {
                    $("#divRotationError").html(data);
                    RotationError = true;
                }
                else {
                    $("#divRotationError").html("&nbsp;");
                    RotationError = false;
                }
            }
        });
    }

</script>
{% endblock %}
