{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    <div>
        <div id="divDisc" style="vertical-align: top;padding:3px;height:254px;display:inline-block;margin-right:30px;">
		    <div id="divDiscHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Discipline</div>
		    <div id="divDiscList" class="listbox" style="height:180px;">
		    <div id="divDiscMAG" name="divDiscMAG" class="disc-list" style="padding-bottom:5px" onclick="DiscClick('MAG');">MAG</div>
		    <div id="divDiscWAG" name="divDiscWAG" class="disc-list" style="padding-bottom:5px" onclick="DiscClick('WAG');">WAG</div>
		    <div id="divDiscRG" name="divDiscRG" style="padding-bottom:5px" onclick="DiscClick('RG');" class="ui-disabled disc-list">RG</div>
		    <div id="divDiscTRA" name="divDiscTRA" style="padding-bottom:5px" onclick="DiscClick('TRA');" class="ui-disabled disc-list">TRA</div>
		    <div id="divDiscACRO" name="divDiscACRO"  style="padding-bottom:5px" onclick="DiscClick('ACRO');" class="ui-disabled disc-list">ACRO</div>
		    <div id="divDiscAER" name="divDiscAER"  style="padding-bottom:5px" onclick="DiscClick('AER');" class="ui-disabled disc-list">AER</div>
		    </div>
	    </div>

	    <div id="divCompetitions" style="display:inline-block;vertical-align: top;padding:3px;display:inline-block;margin-right:30px;" class="ui-disabled">
	        <div id="divCompHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Competition</div>
	        <div id="divCompList"class="listbox"  style="width:400px;height:180px;"></div><br/>
	        <div id="divCompButtonsArea">
		        <button href="#" id="btnCompAdd"  type="button" class="btn btn-main management-button" data-toggle="modal" data-target="#modalMain" onclick="AddCompStart()">Add</button><br/>
		        <button href="#" id="btnCompEdit"  type="button" class="btn btn-main management-button" data-toggle="modal" data-target="#modalMain" onclick="EditCompStart()">Edit</button><br/>
		        <button href="#" id="btnCompDelete"  type="button" class="btn btn-red management-button" onclick="CompDelete()">Delete</button>
	        </div>
	    </div>

        <div id="divSessions" style="vertical-align: top;padding:3px;display:inline-block;margin-right:30px;" class="ui-disabled">
		    <div id="divSessionHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Session</div>
		    <div id="divSessionList" class="listbox" style="width:240px;height:180px;"></div><br/>
		    <div id="divSessionButtonsArea">
		        <button href="#" id="btnAthAdd"   type="button" class="btn btn-main management-button"  data-toggle="modal" data-target="#modalMain" onclick="AddSessionStart()">Add</button><br/>
		        <button href="#" id="btnAthEdit"  type="button" class="btn btn-main management-button" data-toggle="modal" data-target="#modalMain" onclick="EditSessionStart()">Edit</button><br/>
		        <button href="#" id="btnAthDelete"   type="button" class="btn btn-red management-button" onclick="SessionDelete()">Delete</button>
	        </div>
	    </div>
    </div>
    <br/>
    <br/>
    <div>
        <button href="#" id="btnNext" type="button" class="btn-main ui-disabled pt-4 pb-4" style="border-radius: 1rem;">Save and<br/>Continue (1/7)</button>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var token = "{{ csrf_token }}";
</script>
<script type="text/javascript">
    var SelectedComp = -1;
    var SelectedDisc = -1;
    var SelectedSession = -1;
    var SelectedEvent = -1;
    var Changed = false;
   

    function CheckChange(ThingIn)
    {
        if (Changed)
        {
            if (confirm('You have unsaved changes to judges, are you sure you want to switch ' + ThingIn + '?'))
            {
                Changed = false;
                return true;
            }
            else
                return false;
        }
        return true;
    }

    function EventClick() {
        console.log("Click");
        //if ($("#ddlEventJudge").val() != SelectedEvent)        {
            if (CheckChange("Events")) {
                SelectedEvent = $("#ddlEventJudge").val();
                $.ajax({
                    url: "/judges_get/",
                    data: {
                        'comp': SelectedComp,
                        'disc': SelectedDisc,
                        'event': SelectedEvent,
                    },
                    dataType: 'json',
                    success: function (data) {
                        FillJudges(data)
                        Changed = false;
                    }
                });
            }
        //}
    }   

    function SessionClick(sesIn) {
        $('.session-list').removeClass("ctxSelected");
        $("#divSession" + sesIn).addClass("ctxSelected");
        SelectedSession = sesIn;
        $("#btnNext").removeClass("ui-disabled");

    }

    function DiscClick(discIn) {
        $('.disc-list').removeClass("ctxSelected");
        $("#divDisc" + discIn).addClass("ctxSelected");
        SelectedDisc = discIn;
        SelectedComp = -1;
        $("#divCompetitions").removeClass("ui-disabled");
        $("#divCompList").load("/management/competition_list/?disc=" + SelectedDisc);
        $("#divSessionList").empty();
        $("#divSessions").addClass("ui-disabled");
        $("#btnNext").addClass("ui-disabled");
    }


    function DisableAll() {
        //$("#divDisc").addClass("ui-disabled");
        $("#divCompetitions").addClass("ui-disabled");
        $("#divSessions").addClass("ui-disabled");
        $("#btnNext").addClass("ui-disabled");
    }

    function CompClick(CompIn) {
        
        $('.comp-list').removeClass("ctxSelected");
        $("#divComp" + CompIn).addClass("ctxSelected");
        SelectedComp = CompIn;
        $("#divSessions").removeClass("ui-disabled");
        FillSession();
        $("#btnNext").addClass("ui-disabled");
    }

    function AddCompStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("ADD COMPETITION");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/competition_form", function () {
            AttachCompForm();
        });

        $("#modalBodyArea1").show();
    }

    function EditCompStart() {
        if (SelectedComp != -1) {
            $("#modalMainDoc").addClass("modal-lg");
            $("#modalMainTitle").html("EDIT COMPETITION");
            $(".modal-dialog")
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/competition_form/?id=" + SelectedComp, function () {
                AttachCompForm();
            });

            $("#modalBodyArea1").show();
        }
    }
    function CompDelete() {
        if (SelectedComp != -1) {
            $.ajax({
                url: "/management/competition_delete/",
                data: {
                    'id': SelectedComp,
                },
                success: function () {
                    $("#divCompList").load("/management/competition_list/?disc=" + SelectedDisc); 
                    Changed = false;
                    $('.session-list').removeClass("ctxSelected");
                    $("#divSessions").addClass('ui-disabled');
                    $("#divSessionList").empty();
                    $("#btnNext").addClass("ui-disabled");
                }
            });
    
        }
    }

    function AttachCompForm() {
        console.log("attach");
        var frm = $('#form');
        $("#id_disc").val(SelectedDisc);
        $('.selectpicker').selectpicker();
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#modalBodyArea1").empty();
                        $("#modalBodyArea1").html(data);
                        AttachCompForm();
                        //console.log("Error");
                    }
                    else {
                        CompManageFinishParent();
                    }
                },
                error: function(data) {
                    
                }
            });
            return false;
        });
    }

    function AttachSessionForm() {
        var frm = $('#form');
        $("#id_competition").val(SelectedComp);
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#modalBodyArea1").empty();
                        $("#modalBodyArea1").html(data);
                        AttachSessionForm();
                        //console.log("Error");
                    }
                    else {
                        SessionManageFinishParent();
                    }
                },
                error: function(data) {
                }
            });
            return false;
        });
    }

    function CompManageFinishParent() {
        $("#modalMain").modal('hide');
        $("#divCompList").load("/management/competition_list/?disc=" +SelectedDisc, function () {
            console.log("comp finish " + SelectedComp);
            if (SelectedComp != -1) 
                CompClick(SelectedComp);
        });
        
    }

    function AddSessionStart() {
        $("#modalMainDoc").removeClass("modal-lg");
        $("#modalMainTitle").html("ADD SESSION");
        $(".modal-dialog")
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/session_form/", function () {
            AttachSessionForm();
        });

        $("#modalBodyArea1").show();
    }
    function EditSessionStart() {
        if (SelectedSession != -1) {
            $("#modalMainDoc").removeClass("modal-lg");
            $("#modalMainTitle").html("EDIT SESSION");
            $(".modal-dialog")
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/session_form/?id=" + SelectedSession, function () {
                AttachSessionForm();
            });

            $("#modalBodyArea1").show();
        }
    }

     function SessionManageFinishParent() {
        $("#modalMain").modal('hide');
        $("#divSessionList").load("/management/session_list/?comp="+ SelectedComp, function () {
            if (SelectedSession != -1)
                SessionClick(SelectedSession);
        });
        
    }

    function SessionDelete() {
        if (SelectedSession != -1) {
            $.ajax({
                url: "/management/session_delete/",
                data: {
                    'id': SelectedSession,
                },
                success: function () {
                    FillSession();
                    $("#btnNext").addClass("ui-disabled");
                }
            });
        }
    }

    function FillSession() {
        $("#divSessionList").load("/management/session_list/?comp="+ SelectedComp);
    }
</script>
{% endblock %}
