{% extends "app/layout.html" %}

{% load staticfiles %}
{% block content %}
<div align="center" style="margin:10px;padding:0">
    <h3>{{session_name}}</h3><br/>
    JUDGES
    <div id="divJudges" style="max-width:800px">

    </div>
    <div class="d-flex" style="padding-left:0px!important;padding-right:0px!important;max-width:800px">
        {% for ev in events %}
            <div class="flex-grow-1">
                <button id="btn{{ev.name}}" type="button" class="btn btn-event" onclick="EventClick({{ev.id}},'{{ev.name|upper}}')"><img src="{% static 'app/images/' %}{{ev.name|lower}}-white.svg" height="45px"/></button>
            </div>
        {% endfor %} 
    </div>
    <br/>
    {% if session_paid %}
        NOTE: You have paid for this session, judge emails are no longer editable.<br/>
    {% endif %}
    <button href="#" id="btnSave" type="button" class="btn btn-main management-button-long" onclick="Save()">Save</button>
    <br/>
    <div id="divMissing" style="color:red;font-size:.85rem">&nbsp;</div>
    <button href="#" id="btnImport" type="button" class="btn btn-main management-button-long" onclick="ImportJudgesStart()" data-toggle="modal" data-target="#modalMain">Import</button><br/><br/>
    <div>
        <button id="btnBack" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="GoBack()">Return to<br/>Previous Page</button>
        <button id="btnNext" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="NextClick()">Save and<br/>Continue (2/7)</button>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{id}}";
    var sp = {{session_paid|lower}};
    var firstev = '{{events.first.name}}';
</script>
<script type="text/javascript">
    var SelectedEvent = -1;
    var Changed = false;
    var gonext = false;
    $(".btn-event").first().click();

    function CheckChange(ThingIn)
    {
        if (Changed)
        {
            if (confirm('You have unsaved changes to judges, are you sure you want to ' + ThingIn + '?'))
            {
                Changed = false;
                return true;
            }
            else
                return false;
        }
        return true;
    }


    function EventClick(evid,evIn) {
        //console.log("Click");
        //if ($("#ddlEventJudge").val() != SelectedEvent)        {
        if (CheckChange("switch events")) {
            $(".btn-event").removeClass("btn-event-selected");
            $("#btn" + evIn).addClass("btn-event-selected");
            SelectedEvent = evid;
            gonext = false;
            $.ajax({
                url: "/management/judge_form/?event=" + SelectedEvent + "&session=" + SessionID,
                success: function (data) {
                    $("#divJudges").empty();
                    $("#divJudges").html(data);
                    AttachForm();
                }
            });
        }
        else {
            //$("#ddlEvent").val(SelectedEvent)
        }
        //}
    }  

    function GoBack() {
        if (CheckChange("Go Back"))
        {
            window.location = "/management/setup_competition/";
        }
    }

    function NextClick() {
        if (Changed) {
            gonext = true;
            $('#form').submit();
        }
        else
            GoNext();
    }

    function GoNext() {
        window.location = "/management/setup_athletes/" + SessionID;
    }

    function EnableDisableButtons(typeIn, enabledIn) {
        if (enabledIn) {
            $("#btn" + typeIn + "Edit").removeClass("ui-disabled");
            $("#btn" + typeIn + "Add").removeClass("ui-disabled");
        }
        else {
            $("#btn" + typeIn + "Edit").addClass("ui-disabled");
            $("#btn" + typeIn + "Add").addClass("ui-disabled");
        }
    }

    function Save() {
        gonext = false;
        $('#form').submit();
    }

    function FlagChange(passer) {
        Changed = true;
        if (passer.id.includes('email'))
            CheckGeneratePassword(passer.id.substring(3, 5));
    }

    function CheckGeneratePassword(line) {
        if (($("#id_" + line + "_password").val() == "" || $("#id_" + line + "_password").val() == " ") && ($("#id_" + line + "_email").val() != "")) {
            $("#id_" + line + "_password").val(generate(6));
        }
    }

    function generate(length) {
        var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
            result=""
        for (var i = length; i > 0; --i)
            result += chars[Math.round(Math.random() * (chars.length - 1))]
        return result
    }

    function AttachForm() {
        console.log("attach");
        JudgesCheckMissing();
        var frm = $('#form');
        $("#id_session").val(SessionID);
        $("#id_event").val(SelectedEvent);
        if (sp) {
            $("#id_d1_email").attr("readonly", true);
            $("#id_d2_email").attr("readonly", true);
            $("#id_e1_email").attr("readonly", true);
            $("#id_e2_email").attr("readonly", true);
            $("#id_e3_email").attr("readonly", true);
            $("#id_e4_email").attr("readonly", true);
            $("btnImport").hide();
        }
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    JudgesCheckMissing();
                    if (data != "") {
                        $("#divJudges").empty();
                        $("#divJudges").html(data);
                        AttachForm();
                        
                        //console.log("Error");
                    }
                    else {
                        $("#divErrors").empty();
                        $(".errorlist").empty();
                        Changed = false;
                        if (gonext)
                            GoNext();
                    }
                },
                error: function(data) {
                    
                }
            });
            return false;
        });
    }

    function JudgesCheckMissing() {
       
        $.ajax({
            url: "/management/judges_check_missing/" + SessionID,
            data: {
                'id': SessionID,
            },
            dataType: 'json',
            success: function (data) {
                SetErrorDisplay(data['missed']);
            }
        });

    }

    function SetErrorDisplay(missed) {
        let msg = "";
        tester = missed;
        if (missed.length > 0) {
            msg = "NOTE:";
            let com = "";
            for (index = 0; index < missed.length; ++index) {
                msg = msg + com + ' ' + missed[index];
                com = ",";
            }
            if (missed.length == 1)
                msg = msg + " has not been assigned";
            else
                msg = msg + " have not been assigned";
        }
        $("#divMissing").html(msg);
       
    }

    function ImportJudgesStart() {
        $("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("IMPORT JUDGES");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/management/judge_list_upload/?session=" + SessionID, function () {
            AttachImportForm();
        });

        $("#modalBodyArea1").show();
    }
     function JudgeImportFinishParent() {
        $("#modalMain").modal('hide');
         EventClick(1,firstev);
        
    }
    function AttachImportForm() {
        var frm_upload = $('#form_upload');
        //$("#id_team").val(SelectedTeam);
        $("#id_session_upload").val(SessionID);
        frm_upload.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm_upload.attr('method'),
                url: frm_upload.attr('action'),
                data: new FormData(document.getElementById("form_upload")),
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data);
                    Changed = false;
                    JudgeImportFinishParent();

                },
                error: function(data) {
                }
            });
            return false;
        });
    }
</script>
{% endblock %}
