{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    {{session_name}}<br/>
    JUDGES
    <div id="divJudges" style="max-width:800px;min-height:276px">

    </div>
    <select id="ddlEvent" class="selectpicker" data-style="btn-main" onchange="EventClick()">
        {% for event in events %}
            <option value="{{event.short}}">{{event.long}}</option>
        {% endfor %}
    </select><br/><br/>
    <button href="#" id="btnSave" type="button" class="btn btn-main management-button" onclick="Save()">Save</button>
    <br/>
    <br/>
    <div>
        <button id="btnBack" type="button" class="btn-main pt-4 pb-4" style="border-radius: 1rem;" onclick="Goback()">Return to<br/>Previous Page</button>
        <button id="btnNext" type="button" class="btn-main ui-disabled pt-4 pb-4" style="border-radius: 1rem;">Save and<br/>Continue (2/7)</button>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{id}}";
</script>
<script type="text/javascript">
    var SelectedEvent = -1;
    var Changed = false;
    EventClick();

    function CheckChange(ThingIn)
    {
        if (Changed)
        {
            if (confirm('You have unsaved changes to judges, are you sure you want to ' + ThingIn + '?'))
            {
                Changed = false;
                return true;
            }
            else
                return false;
        }
        return true;
    }


    function EventClick() {
        //console.log("Click");
        //if ($("#ddlEventJudge").val() != SelectedEvent)        {
        if (CheckChange("switch events")) {
            SelectedEvent = $("#ddlEvent").val();

            $.ajax({
                url: "/management/judge_form/?event=" + SelectedEvent + "&session=" + SessionID,
                success: function (data) {
                    $("#divJudges").empty();
                    $("#divJudges").html(data);
                    AttachForm();
                }
            });
        }
        else {
            $("#ddlEvent").val(SelectedEvent)
        }
        //}
    }  

    function GoBack() {
        if (CheckChange("Go Back"))
        {
            window.location = "/management/setup_judges/?session=" + SelectedSession;
        }
    }

    function Save() {
        $('#form').submit();
    }

    function FlagChange() {
        Changed = true;
    }

    function AttachForm() {
        console.log("attach");
        var frm = $('#form');
        $("#id_session").val(SessionID);
        $("#id_event").val(SelectedEvent);
        frm.submit(function () {
            console.log("forming");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data != "") {
                        $("#divJudges").empty();
                        $("#divJudges").html(data);
                        AttachForm();
                        //console.log("Error");
                    }
                    else {
                        $("#divErrors").empty();
                        Changed = false;
                    }
                },
                error: function(data) {
                    
                }
            });
            return false;
        });
    }

    

    function CompManageFinishParent() {
        $("#modalMain").modal('hide');
        $("#divCompList").load("/management/competition_list/?disc=" +SelectedDisc, function () {
            console.log("comp finish " + SelectedComp);
            if (SelectedComp != -1) 
                CompClick(SelectedComp);
        });
        
    }

   
</script>
{% endblock %}
