{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    <h3>{{session.full_name}}</h3><br/>
    <div class="row no-gutters">
        <div class="col-3 pr-4 pb-2" align="right">
             <h2>Session Access Code</h2>
        </div>
        <div class="col-8 pt-2 pl-2 pb-2" align="left">
            <span class="muted-text">This is a unique code that spectators can redeem, giving them full access to a session.<br/>Purchase uses for this session at cost ($3.00 per user).  Spectators can enter this code to bypass paying for the session.</span><br/>
            <br/>
            <div class="row no-gutters">
                <div class="pr-4" align="center">
                    Access Code<br/>
                    <input type="text" name="access_code" placeholder="Access Code" maxlength="20" id="access_code" value="{{session.access_code}}" style="width:100px"><br/>
                    <button href="#" id="btnSave" type="button" class="btn btn-main management-button mt-2" onclick="Save()">Update</button>
                </div>
                <div class="pl-4 pr-4" align="center">
                    Quantity<br/>
                    {{session.access_code_total}}
                </div>
                <div class="pl-4 pr-4" align="center">
                    Available<br/>
                    {{codes_available}}
                </div>
                <div class="pl-4" align="center">
                    Add More<br/>
                     <input type="text" id="txtNumAdditional" placeholder="Qty" onkeypress="return isNumberKey(event)" style="width:40px" value="1"><br/>
                    <button href="#" id="btnPurchase" type="button" class="btn btn-main management-button mt-2" onclick="PurchaseMoreClick()">Purchase</button>
                </div>
            </div>
        </div>
        <div class="col-3 pr-4" align="right">
             <h2>Spectators</h2>
        </div>
        <div class="col-8 pt-2 pl-2" align="left">
            {% if spectators|length > 0 %}
                {{spectators|length}} spectators<br/><br/>
                <div id="divSpectatorList" style="height:500px;overflow-y:auto">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" class="pr-4"><h5>Name (Last, First)</h5></td>
                            <td align="center" class="pr-4"><h5>Email</h5></td>
                            <td align="center"><h5>Type</h5></td>
                        </tr>
                        {% for spec in spectators %}
                            <tr>
                                <td align="center" class="pr-4">{{spec.user.last_name}}, {{spec.user.first_name}}</td>
                                <td align="center"  class="pr-4">{{spec.user.email}}</td>
                                <td align="center">{% if spec.type == 'SPECTATOR' %}Purchase{% else %}Access Code{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                None
            {% endif %}
        </div>
    </div>
   
</div>

{% endblock %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{session.id}}";
</script>
<script type="text/javascript">
    var Changed = false;
    var gonext = false;

    function PurchaseMoreClick() {
        if ($("#txtNumAdditional").val() != '') {
            $("#modalMainTitle").html("Purchase Access Codes");
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/account/stripe_payment_screen/" + SessionID + "/ACCESS_CODE/" + $("#txtNumAdditional").val(), function () {
            });
            $("#modalMain").modal('show');
            $("#modalBodyArea1").show();
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ( charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function Save() {
        if ($("#access_code").val() != '' && $("#access_code").val() != ' ') {
            $.ajax({
                url: "/management/set_access_code/" + SessionID,
                type: "POST",
                headers: { "X-CSRFToken": token },
                data: {
                    'access_code': $("#access_code").val(),
                },
                success: function (data) {
                    alert("Access code updated");
                }
            });
        }
    }
   
</script>
{% endblock %}
