{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    {{session.full_name}}<br/>
    <br/>
    <div class="row">
        <div class="col-3" align="right">
             <h2>Session Access Code</h2>
        </div>
        <div class="col-8 pt-2 pl-2" align="left">
            <span class="muted-text">This is a unique code that spectators can redeem, giving them full access to a session.<br/>Purchase uses for this session at cost ($3.00 per user).  Spectators can enter this code to bypass paying for the session.</span><br/>
            <br/>
            <div class="row no-gutters">
                <div class="pr-4" align="center">
                    Access Code<br/>
                    <input type="text" name="access_code" placeholder="Access Code" maxlength="20" id="access_code" value="{{session.access_code}}"><br/>
                    <button href="#" id="btnSave" type="button" class="btn btn-main management-button mt-2" onclick="Save()">Update</button>
                </div>
                <div class="pl-4 pr-4" align="center">
                    Redeemed<br/>
                    {{session.access_code_used}}
                </div>
                <div class="pl-4 pr-4" align="center">
                    Quantity<br/>
                    {{session.access_code_total}}
                </div>
                <div class="pl-4">
                    <button href="#" id="btnSave" type="button" class="btn btn-main management-button-long mt-2" onclick="PurchaseMoreClick()">Purchase More</button>
                </div>
            </div>
        </div>
    </div>
   
</div>

{% endblock %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var token = "{{ csrf_token }}";
    var SessionID = "{{session.id}}";
</script>
<script type="text/javascript">
    var Changed = false;
    var gonext = false;

    function Save() {
        if ($("#access_code").val() != '' && $("#access_code").val() != ' ') {
            $.ajax({
                url: "/management/set_access_code/" + SessionID,
                type: "POST",
                headers: { "X-CSRFToken": token },
                data: {
                    'access_code': $("#access_code").val(),
                },
                success: function (data) {

                }
            });
        }
    }

   

     function Activate() {
        $("#btnActivate").addClass("ui-disabled");
        $("#modalLoadText").html("Activating...");
        $("#modalLoad").modal('show');
        $.ajax({
            url: "/management/session_activate/" + SessionID,
            success: function () {
                $("#divActivate").hide();
                $("#btnSessionOverview").show();
                $("#modalLoad").modal('hide');
                 alert("Session activated, please review start lists on the overview page.");
            }
        });
       

    }
   
</script>
{% endblock %}
