body {
    font-family: Helvetica;
    background-color: #1c1c24 !important;
    color: white !important;
}

.jsgrid-cell {
    color: black;
}

.jsgrid-header-cell {
    color: black;
    padding:.2em !important;
}

.jsgrid-hr {
    margin:0 !important;
}

.bootstrap-select{
    border-radius:1em;
}

.btn {
    padding: .175rem 1rem !important;
    border-radius:1rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-main {
    /*border: 1px solid #2489CE {c-bup-border}*/;
    background-color: #2963b9ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #2963b9ff), to(#0044aa));
    background-image: -webkit-linear-gradient(top, #2963b9ff, #0044aa);
    background-image: -moz-linear-gradient(top, #2963b9ff, #0044aa);
    background-image: -ms-linear-gradient(top, #2963b9ff, #0044aa);
    background-image: -o-linear-gradient(top, #2963b9ff, #0044aa);
    background-image: linear-gradient(to bottom, #2963b9ff, #0044aa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2963b9ff, endColorstr=#0044aa);
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
    border-color: #2963b9ff;
}

.btn-main-selected {
    /*border: 1px solid #2489CE {c-bup-border}*/;
    background-color: green;
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
}

.btn-main:hover {
    background-color: #7898cb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7898cb), to(#0044aa));
    background-image: -webkit-linear-gradient(top, #7898cb, #0044aa);
    background-image: -moz-linear-gradient(top, #7898cb, #0044aa);
    background-image: -ms-linear-gradient(top, #7898cb, #0044aa);
    background-image: -o-linear-gradient(top, #7898cb, #0044aa);
    background-image: linear-gradient(to bottom, #7898cb, #0044aa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7898cb, endColorstr=#0044aa);
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border:0px;
}

.btn-phase {
    /*border: 1px solid #2489CE {c-bup-border}*/;
    background-color: #373747;
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
    border-radius: 0rem !important;
    width: 100%;
}

.btn-phase:hover {
    background-color: #313184;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#313184), to(#8282c4));
    background-image: -webkit-linear-gradient(top, #313184, #8282c4);
    background-image: -moz-linear-gradient(top, #313184, #8282c4);
    background-image: -ms-linear-gradient(top, #313184, #8282c4);
    background-image: -o-linear-gradient(top, #313184, #8282c4);
    background-image: linear-gradient(to bottom, #313184, #8282c4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#313184, endColorstr=#8282c4);
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
}

.btn-phase-selected {
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
    border-radius: 0rem !important;
    width: 100%;
    background-color: #313184;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#313184), to(#8282c4));
    background-image: -webkit-linear-gradient(top, #313184, #8282c4);
    background-image: -moz-linear-gradient(top, #313184, #8282c4);
    background-image: -ms-linear-gradient(top, #313184, #8282c4);
    background-image: -o-linear-gradient(top, #313184, #8282c4);
    background-image: linear-gradient(to bottom, #313184, #8282c4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#313184, endColorstr=#8282c4);
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
}

.btn-red {
    /*border: 1px solid #2489CE {c-bup-border}*/;
    background-color: #dc3545;
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
    border-color: #dc3545;
}


.entrybox {
    font-size: .75rem !important;
    width: 35px !important;
    border-radius: 0 !important;
    padding: .1em !important;
    line-height: 1 !important;
    margin-bottom:3px;
}
.close {
    color: #fff;
    opacity: 1;
}
.close:hover {
    color: #fff;
    text-decoration: none;
}

.modal-content {
    background-color: #1c1c24 !important;
}

.ui-disabled {
    opacity: .3;
}

.ui-disabled,
.ui-disabled a {
    cursor: default !important;
    pointer-events: none;
}

    .ui-disabled .ui-btn-text {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
        filter: alpha(opacity=30);
        zoom: 1;
    }

.listbox {
    border: 1px grey solid;
    overflow-y: auto;
}

.ctxSelected {
    background-color: #535c8a !important;
    color: black;
}

.navbar {
    background-color: #000000;
}

.DotsArea {
    position: relative;
    border: 1px solid black;
    background-color: #373748
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.deduct-1 {
    background: #2ad4ff;
    color: black
}

.deduct-3 {
    background: #ffd42a;
    color: black
}

.deduct-5 {
    background: #ff0000;
    color: black
}

.deduct-10 {
    background: #ffffff;
    color: black
}

.div-button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    /*height:100%;*/
    cursor: pointer;
    font-size: 24px;
    border: 2px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 50px
}

.button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.timer-red {
    color: #ff0000;
    font-size: 2em
}

.timer-yellow {
    color: #ffcc00;
    font-size: 2em
}

.timer-green {
    color: #37c837;
    font-size: 2em
}

#player-video,
#publisher-video {
    width: 100% !important;
    height: auto !important;
    /*background: #EEEEEE;*/
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#video-live-indicator {
    position: absolute;
    top: 0.5em;
    left: 1.5em;
    opacity: 90%;
}

.video-controls {
    width: 100% !important;
    position: relative;
    bottom: 40px;
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    padding-bottom: 5px;
}

.btn-event {
    /*border: 1px solid #2489CE {c-bup-border}*/;
    background-color: #373747;
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
    border-radius: 0rem !important;
    width:100%;
}

.btn-event:hover {
    background-color: #313184;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#313184), to(#8282c4));
    background-image: -webkit-linear-gradient(top, #313184, #8282c4);
    background-image: -moz-linear-gradient(top, #313184, #8282c4);
    background-image: -ms-linear-gradient(top, #313184, #8282c4);
    background-image: -o-linear-gradient(top, #313184, #8282c4);
    background-image: linear-gradient(to bottom, #313184, #8282c4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#313184, endColorstr=#8282c4);
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
}

.btn-event-selected {
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
    border-radius: 0rem !important;
    width: 100%;
    background-color: #313184;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#313184), to(#8282c4));
    background-image: -webkit-linear-gradient(top, #313184, #8282c4);
    background-image: -moz-linear-gradient(top, #313184, #8282c4);
    background-image: -ms-linear-gradient(top, #313184, #8282c4);
    background-image: -o-linear-gradient(top, #313184, #8282c4);
    background-image: linear-gradient(to bottom, #313184, #8282c4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#313184, endColorstr=#8282c4);
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    border: 0px;
}

.status-dot {
    height: 25px;
    width: 25px;
    color: #8e8e8e;
    border-radius: 50%;
    border: 2px solid;
    display: inline-block;
}

.status-dot-red {
    background-color: #ff0000;
}

.status-dot-yellow {
    background-color: #ffcc00;
}

.status-dot-green {
    background-color: #37c837;
}

.judge-strike {
    text-decoration:line-through;
}

.management-input {
    width: 100% !important;
    max-width:none !important;
}

.management-button {
    width:100px;
    margin-bottom:.5rem;
}