<div class="row no-gutters" align="center">
    {% for sl in start_list %}
    <!--
        {% ifchanged sl.completed %}
            {% if not forloop.first %}
                <div class="col-12 mb-1">
                    NEXT:
                </div>
            {% endif %}
        {% endifchanged %}
        -->
        <div class="col-12 mb-2">
            <div id="divAthlete{{sl.id}}"  class="start-list-athlete {% if not sl.active %}start-list-scratched{% endif %} {% if sl.completed or sl.secondary_judging %}start-list-completed start-list-red{% endif %}">{{sl.athlete.team.abbreviation}} - {{sl.athlete.level.name}} - {{sl.athlete.name}}</div>
        </div>
        
    {% endfor %} 
    <input type="hidden" id="hdnUpNext" value="divAthlete{{first_not_completed}}"/>
</div>