{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% include "chat/chat.html" %}

<div align="center" style="margin:auto;position:relative" >
    <div id="divFallArea" class="coach-fall-container" align="center" style="display:none">
        <div class="row no-gutters justify-content-center">
            <div class="col-9 col-md-4 col-lg-3 coach-fall-background pt-1 pb-2">
                <div>FALL</div>
                <div id="divFallTimer" class="coach-fall-timer">&nbsp;</div>
                <div id="divFallCredit" class="">&nbsp;</div>
            </div>
        </div>
    </div>
    {% include "app/event_select.html" %}  
    <div class="">
        <div id="divStatus" style="margin:auto;text-align:center;" class="timer-red"></div>
        <div class="pt-1">
            {% include "app/status_dots.html" %}  
        </div>
        <div id="divStartList"></div>
        
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var Session = "{{session.id}}";
    var SessionName = "{{session}}";
    var Team= "{{team.id}}";
    var ev = "{{event_name}}";
    var token = "{{ csrf_token }}";
</script>
<script type="text/javascript">
    //const firebase = require("firebase");
    var datahold;
    var AthleteID = -1;
    var Status = "";
    var StartListChange = -1;
    var FallTimerStart;
    var FallTimerInterval;

    var db = firebase.firestore();
    db.collection("sessions").doc(Session).collection("event_managers").doc(ev)
        .onSnapshot(function (doc) {
            UpdateStatus(doc);
        });
    SetupChatListener();
     db.collection("sessions").doc(Session).collection("event_managers").doc(ev + "_falls")
        .onSnapshot(function (doc) {
            UpdateFalls(doc);
        });

    
    function UpdateStatus(doc) {
        if (doc.data() != undefined) {
            console.log("Status: " + Status + " | " + doc.data().status);
            console.log("AthleteID: " + AthleteID + " | " + doc.data().athlete_id);
            if (AthleteID != doc.data().athlete_id || doc.data().start_list_change != StartListChange) {
                AthleteID = doc.data().athlete_id;
                StartListChange = doc.data().start_list_change;
                Status = doc.data().status;
                $("#divStartList").load("/athlete_start_list/" + ev + "/" + Team, function () {
                    SetStatus();
                });
            }
            else if (Status != doc.data().status) {
                Status = doc.data().status;
                SetStatus();
            }


            //$("#divStatus").html(doc.data().stream + " | " + doc.data().status);
        }
        else {
            StatusDotsRed();
            $("#divStatus").html("ROTATION NOT ON THIS EVENT").removeClass("timer-yellow").removeClass("timer-green").addClass("timer-red");
        }
    }

    function SetStatus() {
        if ($("#" + $("#hdnUpNext").val()).html() != undefined) {
            if (Status == "AD" || Status == "F" || Status == "RD") {
                StatusDotsRed();
                $("#divStatus").html("EVALUATION IN PROGRESS").removeClass("timer-yellow").removeClass("timer-green").addClass("timer-red");
                $("#" + $("#hdnUpNext").val()).removeClass("status-dot-yellow").removeClass("status-dot-green").addClass("status-dot-red");
            }
            else if (Status == "N") {
                StatusDotsYellow();
                $("#divStatus").html("GET READY").addClass("timer-yellow").removeClass("timer-green").removeClass("timer-red");
                $("#" + $("#hdnUpNext").val()).addClass("status-dot-yellow").removeClass("status-dot-green").removeClass("status-dot-red");
            }
            else if (Status == "S") {
                StatusDotsGreen();
                $("#divStatus").html("ROUTINE IN PROGRESS").removeClass("timer-yellow").addClass("timer-green").removeClass("timer-red");
                $("#" + $("#hdnUpNext").val()).removeClass("status-dot-yellow").addClass("status-dot-green").removeClass("status-dot-red");
            }
        }
        else {
            StatusDotsRed();
            $("#divStatus").html("ROTATION NOT ON THIS EVENT").removeClass("timer-yellow").removeClass("timer-green").addClass("timer-red");
        }
    }

    function SwapEvent(evIn) {
        window.location = "/coach/" + evIn;
    }

    function UpdateFalls(doc) {
        if (doc.data() != undefined) {
            console.log(doc.data());
            if (doc.data().team == Team) {
                if (doc.data().fall == true) {
                    clearInterval(FallTimerInterval);
                    FallTimerStart = doc.data().start.seconds;
                    FallTimerInterval = setInterval(UpdateFallTimer, 1000);
                    UpdateFallTimer();
                    $("#divFallCredit").html(doc.data().credit);
                    if (doc.data().credit != "CREDIT NOT AWARDED") {
                        $("#divFallCredit").addClass("coach-fall-credit");
                        $("#divFallCredit").removeClass("coach-fall-no-credit");
                    }
                    else {
                         $("#divFallCredit").removeClass("coach-fall-credit");
                        $("#divFallCredit").addClass("coach-fall-no-credit");
                    }
                    $("#divFallArea").show();
                }
                else {
                    clearInterval(FallTimerInterval);
                    $("#divFallArea").hide();
                }
            }
            else {
                clearInterval(FallTimerInterval);
                $("#divFallArea").hide();
            }
        }
    }

    function UpdateFallTimer() {
        $("#divFallTimer").html((Math.round(Date.now() / 1000) - FallTimerStart) + " seconds");
    }

</script>
{% endblock %}
