{% extends layout %}

{% block content %}
{% load staticfiles %}
{% include "app/dot_change.html" %}
{% include "chat/chat.html" %}
<div id="AccountabilityReportBlackOut" style="width:100%;height:100%;background-color:#000000;opacity: .3;position:fixed;z-index:103;display:none" onclick="CloseAccountabilityReport()"></div>
<div id="divAccountabilityReport" style="position:absolute;z-index:104;text-align:center;padding:5px;overflow:auto;display:none;background-color:rgb(97, 97, 106);color:white;top:10%;left:35%;width:40%"  class="rounded"></div>
<div align="center">
<div id="divHeader"></div>
<div >
    <span id="divAthleteLabel" onclick="ShowStartList()" data-toggle="modal" data-target="#modalMain"></span>
</div>
<div class="row no-gutters">
    <div class="col-xl-8 col-12" align="right">
        <div align="right">
            <!--<div style="max-width:854px" id="divAthleteLabel">
                <select id="ddlAthlete" style="max-width:854px" class="selectpicker form-control" data-live-search="true" data-style="btn-main" data-header="Select Gymnast" title="Select Gymnast" onchange="GymnastChanged()">
                    {% for athlete in athletes %}
                        <option value="{{athlete.id}}">{{athlete}}</option>
                    {% endfor %}
                </select>

            </div>-->
            {% if loadroutine == '' %}
            <video id="video-playback"  style="max-width:854px;max-height:720px;display:none;width:100%;min-height:480px" controls webkit-playsinline>
		        Your browser does not support the video tag.
	        </video>
            {% else %}
            <video id="video-playback"  style="max-width:854px;max-height:720px;display:none;width:100%;min-height:480px" controls webkit-playsinline>
		        <source src="/media/routine_videos/{{loadroutine}}.webm" type='video/webm; codecs="vp8, vorbis"' />
                <source src="/media/routine_videos/{{loadroutine}}.mp4" type='video/mp4;' />
                Video not yet ready, try again in 15 seconds
	        </video>
            {% endif %}
            <div id="play-video-container" class="live-container d-flex align-items-center justify-content-center">
                <div id="player-waiting" style="height:480px;display:flex" class="align-items-center"><h1>Waiting for Camera</h1></div>
                <video id="player-video" class="live-video" autoplay playsinline controls style="display:none"></video>
            </div>
                    
            <div id="divSpeedSlider" align="right" style="width:100%;height:33px;display:none">
	            <table><tr>
	                <td>Video Review Speed:</td>
	                <td align="left" width="320px"> <input style="z-index:102" id="sldSpeed" type="range" data-style="none" data-theme="b" data-highlight="true" min="0" max="1.25" value="1" step=".25" onchange="ChangeVideoSpeed(this.value)" /></td>
	                <td align="left" width="90px"><div style="display:inline" id="range">Full</div></td>
                </tr></table>
	        </div>
            <div id="divDotsHolder" style="position:relative;max-width:852px;height:100px;display:flex">
	            <div id="divDotsArea" class="DotsArea flex-grow-1" style="max-width:852px;height:100px;">
	           
	            </div>
                 <div id="divDotsAreaGlobal" style="position:relative;width:100px;height:100px;border-top:1px solid black;border-right:1px solid black;border-bottom:1px solid black;background-color:#373748;float:left">
	   
	            </div>    
                <div id="divEJudges" align="left" style="float:left;padding-left:5px;padding-top:5px;position:absolute;top:0px;left:0px;">
	  		        <div>
		                <table cellspacing="0" border=0 cellpadding="0">
			                <tr id="trE1">
                                <td><span id="divJudgeDotE1" style="display:none" class="status-dot-small status-dot-red mr-1"></span></td>
                                <td><input type="checkbox" id="chkE1" data-role="none" style="display:none" onclick="EJudgeCheckCalc(1)"></td>
			                    <!--<td id="divJT1" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE1N">&nbsp;E1</td>
			                </tr>
			                <tr id="trE2">
                                 <td><span id="divJudgeDotE2" style="display:none" class="status-dot-small status-dot-red mr-1"></span></td>
                                <td><input type="checkbox" id="chkE2" data-role="none" style="display:none" onclick="EJudgeCheckCalc(2)"></td>
			                        <!--<td id="divJT2" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE2N">&nbsp;E2</td>
			                </tr>
			                <tr id="trE3">
                                 <td><span id="divJudgeDotE3" style="display:none" class="status-dot-small status-dot-red mr-1"></span></td>
                                <td><input type="checkbox" id="chkE3" data-role="none" style="display:none" onclick="EJudgeCheckCalc(3)"></td>
			                        <!--<td id="divJT3" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE3N">&nbsp;E3</td>
			                </tr>
			                <tr id="trE4">
                                <td><span id="divJudgeDotE4" style="display:none" class="status-dot-small status-dot-red mr-1"></span></td>
                                <td><input type="checkbox" id="chkE4" data-role="none" style="display:none" onclick="EJudgeCheckCalc(4)"></td>
			                        <!--<td id="divJT4" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE4N">&nbsp;E4</td>
			                </tr>
		                </table>
		            </div>
	            </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-12" align="left">
        <div class="ml-4">
                {% if loadroutine == '' %}
                    <button id="btnStartJudging" type="button" class="btn btn-main mb-2" onclick="StartJudgingClick()" style="width:143px">Start Judging</button><br/>
	                <button id="btnRestartD" type="button" class="btn btn-main mb-2" onclick="RestartD()" style="display:none">Judge D</button>
	                <button id="btnRestartE" type="button" class="btn btn-main mb-2" onclick="RestartE()" style="display:none">Judge E</button>
	                <button id="btnRestartBoth" type="button" class="btn btn-main mb-2" onclick="RestartBoth()" style="display:none">Both</button>
	                <button id="btnExerciseDone" type="button" class="btn btn-main mb-2" onclick="ExerciseDoneClick()" style="width:143px">Exercise Done</button>
		            <button id="btnStopRecording" type="button" class="btn btn-main mb-2" onclick="StopRecording()" style="display:none">Stop Recording</button>
		            <button id="btnStartPlayBack" type="button" class="btn btn-main mb-2" onclick="StartPlayBack()" style="display:none">Playback</button>

                    <table cellspacing="0" cellpadding="0" border="0" style="font-size:0.75rem;">
	                    <tr><td id="tdElements" align="right">Elements:</td><td><input type="text" id="txtElements" placeholder="Elements" class="ui-disabled entrybox" onkeypress="return isNumberKey(event)" ></td></tr>
	                    <tr><td id="tdDifficulty" align="right">Base Score:</td><td><input type="text" id="txtDifficulty" placeholder="Difficulty" class="ui-disabled entrybox"  onkeypress="return isNumberKey(event)" ></td></tr>
	                    <tr><td id="tdGroups" align="right">Groups:</td><td><input type="text" id="txtGroups" placeholder="Groups" class="ui-disabled entrybox"  onkeypress="return isNumberKey(event)" ></td></tr>
	                    <tr><td id="tdBonus" align="right">Bonus:</td><td><input type="text" id="txtBonus" placeholder="Bonus" class="ui-disabled entrybox" onkeypress="return isNumberKey(event)" ></td></tr>
	                    <tr><td id="tdNeutralDed" align="right">Neutral Deductions:</td><td><input type="text" id="txtNeutralDed" placeholder="Neutral Ded." class="ui-disabled entrybox" onkeypress="return isNumberKey(event)" ></td></tr>
	                    <tr><td id="tdDScore" align="right" style="text-decoration:underline">D-Score:</td><td><div id="lblDScore" style="text-decoration:underline"></div></td></tr>
	                    <tr><td colspan="2" align="right"><a href="#" id="btnSetDScore" type="button" class="btn btn-main mb-2 mt-2 ui-disabled" onclick="SetDScoreClick()" style="font-size:1rem">Set D-Score</a></td></tr>
	                    <tr><td id="tdE1" align="right">E1 Execution:</td><td id="divET1">0.0</td></tr>
	                    <tr><td id="tdE2" align="right">E2 Execution:</td><td id="divET2">0.0</td></tr>
	                    <tr><td id="tdE3" align="right">E3 Execution:</td><td id="divET3">0.0</td></tr>
	                    <tr><td id="tdE4" align="right">E4 Execution:</td><td id="divET4">0.0</td></tr>
	                    <tr><td id="tdEScore" align="right" style="text-decoration:underline">E-Score:</td><td id="divEScore" style="text-decoration:underline">0.0</td></tr>
	                    <tr><td align="right" style="height:10px"></td><td></td></tr>
	                    <tr><td id="tdTotal" align="right" style="text-decoration:underline">Total Score:</td><td id="divTotalScore" style="text-decoration:underline">0.0</td></tr>
	                </table>
                {% else %}
                    <table cellspacing="0" cellpadding="0" border="0" style="font-size:0.75rem">
	                    <tr><td id="tdElements" align="right">Elements:</td><td><div id="lblElements"></div></td></tr>
	                    <tr><td id="tdDifficulty" align="right">Base Score:</td><td><div id="lblDifficulty"></div></td></tr>
	                    <tr><td id="tdGroups" align="right">Groups:</td><td><div id="lblGroups"></div></td></tr>
	                    <tr><td id="tdBonus" align="right">Bonus:</td><td><div id="lblBonus"></div></td></tr>
	                    <tr><td id="tdNeutralDed" align="right">Neutral Deductions:</td><td><div id="lblNeutralDed"></div></td></tr>
	                    <tr><td id="tdDScore" align="right" style="text-decoration:underline">D-Score:</td><td><div id="lblDScore" style="text-decoration:underline"></div></td></tr>
	                    <tr><td colspan="2" align="right"></td></tr>
	                    <tr><td id="tdE1" align="right">E1 Execution:</td><td id="divET1">0.0</td></tr>
	                    <tr><td id="tdE2" align="right">E2 Execution:</td><td id="divET2">0.0</td></tr>
	                    <tr><td id="tdE3" align="right">E3 Execution:</td><td id="divET3">0.0</td></tr>
	                    <tr><td id="tdE4" align="right">E4 Execution:</td><td id="divET4">0.0</td></tr>
	                    <tr><td id="tdEScore" align="right" style="text-decoration:underline">E-Score:</td><td id="divEScore" style="text-decoration:underline">0.0</td></tr>
	                    <tr><td align="right" style="height:10px"></td><td></td></tr>
	                    <tr><td id="tdTotal" align="right" style="text-decoration:underline">Total Score:</td><td id="divTotalScore" style="text-decoration:underline">0.0</td></tr>
	                </table>
                {% endif %}
            <div id="divSpeedSpacer" align="right" style="height:33px;display:none">  
                <a data-mini="true" data-role="button" href="#" onclick="SetBoardStrikeClick(); return false" id="btnSetBoardStrike" style="display:inline-block">Set Board Strike</a>
            </div>
            <br/>
	        <div>
	            <div>
                    {% if loadroutine == '' %}
	                    <button href="#" id="btnFinish" type="button" class="btn btn-main mb-2 ui-disabled" style="width:200px" onclick="FinishRoutineClick()" >Post Score</button><br/>
	                    <button href="#" id="btnAccountability" type="button" class="btn btn-main mb-2 ui-disabled" style="width:200px" onclick="ViewAccountabilityReport()">Report</button><br/>
	                    <button href="#" id="btnNuke"  type="button" class="btn btn-main mb-2 ui-disabled" style="width:200px" onclick="DeleteRoutineClick()">Delete Routine</button>
                    {% else %}
	                    <button href="#" id="btnAccountability" type="button" class="btn btn-main mb-2" style="width:200px" onclick="ViewAccountabilityReport()">Report</button><br/>
	                    <button href="#" id="btnCloseMain" type="button" class="btn btn-main mb-2" style="width:200px" onclick="HideDetails()">Close</button>
                    {% endif  %}
	            </div>
	        </div>
        </div>
        
    </div>
</div>
<div id="play-settings" style="display:none">
    <form id="play-settings-form">
        <input type="text" class="form-control" id="playSdpURL" name="playSdpURL" maxlength="1024" placeholder="wss://[ssl-certificate-domain-name]/webrtc-session.json">     
        <input type="text" class="form-control" id="playApplicationName" name="playApplicationName" maxlength="256">       
        <input type="text" class="form-control" id="playStreamName" name="playStreamName" maxlength="256">    
    </form>
    <button id="play-toggle" type="button" class="btn btn-main mb-2" style="display:none">Wozwa Hack</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/dots_area.js' %}?v=1.1"></script>
<script type="module" src="{% static 'app/scripts/wowza/play.js' %}?v=1"></script>
<script src="https://www.webrtc-experiment.com/EBML.js"></script> 
<script src="{% static 'app/scripts/RecordRTC.js' %}"></script>
<script src="{% static 'app/scripts/stream_listener.js' %}"></script>
<script src="{% static 'app/scripts/start_list.js' %}"></script>
<script type="text/javascript">
    var Session = "{{session.id}}";
    var SessionName = "{{session}}";
    var Disc = "{{disc}}";
    var ev = "{{event}}";
    var D1Judge = "{{judges.d1}}";
    var EJudges = new Array();
    EJudges[1] = "{{judges.e1}}";
    EJudges[2] = "{{judges.e2}}";
    EJudges[3] = "{{judges.e3}}";
    EJudges[4] = "{{judges.e4}}";
    var AthleteLevel;
    var AthleteTeam;
    var AthleteLabel
    var GymnastLevels = new Array();
    var GymnastTeams = new Array();
    var GymnastLabels = new Array();
    var GymnastScoringType = new Array();
    {% for athlete in athletes %}
        GymnastLevels[{{athlete.id}}] = "{{athlete.level}}";
        GymnastTeams[{{athlete.id}}] = "{{athlete.team}}";
        GymnastLabels[{{athlete.id}}] = "{{athlete}}";
        GymnastScoringType[{{athlete.id}}] = "{{athlete.level.scoring_type}}";
    {% endfor %}
    var LoadRot = "{{loadroutine}}";
    var FirstAthlete = "{{athletes.first.id}}";
    var JudgeName = "{{this_judge}}";
    var token = "{{ csrf_token }}";
    var VideoLocation = "/media/routine_videos/";

</script>
<script type="text/javascript">
    const status = {
        BLANK: '',
        NEW: 'N',
        STARTED: 'S',
        ATHLETE_DONE: 'AD',
        REVIEW_DONE: 'RD',
        FINISHED: 'F',
        DELETED: 'D',
    }
    var HoldEventChange = false;
    var NumJudges;
    var EJudgesDone = new Array();
    var EJudgesReady = new Array();
    var NumJudges = 4;
    var Status = status.BLANK;
    var JudgingArtistry = false;
    var DeductionsConfirmed = false;
    var TCApproved = false;
    var JudgeDeductions = new Array();
    var EJudgesInclude = new Array();
    var JudgeType = 'D';
    var player;
    var Recorder
    var RedLineInterval;
    var EditableDots = true;
    var RoutineID;
    var CurrentAthlete = -1;
    var ScoringType;
    var StartListChange = -1;
    var db = firebase.firestore();
    for (var i = 1; i <= 4; i++) {
        EJudgesReady[i] = false;
    }
   
    $( "#video-playback" ).click(function(e) {
        e.preventDefault(); // <=====================
        if (document.getElementById('video-playback').paused)
            document.getElementById('video-playback').play();
        else
            document.getElementById('video-playback').pause();
    });
    function PlayerClick() {

        //console.log("paused: " + document.getElementById('video-playback').paused);
        
    }
    SetupPage();
    if (LoadRot == '') {
        SetupStream();
        var docRef = db.collection("sessions").doc(Session).collection("event_managers").doc(ev);
        docRef.get().then(function (doc) {
            if (doc.exists) {
                console.log(doc);
                SetBasedOnStatus(doc);
            } else {
                // doc.data() will be undefined in this case
                //console.log("No such document!");
            }
        }).catch(function (error) {
            console.log("Error getting document:", error);
        });

        docRef.onSnapshot(function (doc) {
            //CurrentAthlete = FirstAthlete;
            //SetAthleteDisplay();
            CheckAthlete(doc);
            CheckJudges(doc);
            CheckStream(doc);
        });
        SetupChatListener();
        
    }
    else {
        EditableDots = false;
        RoutineID = LoadRot;
        $("#video-playback").show();
        $("#play-video-container").hide();
        $("#play-video-container").removeClass("d-flex");
        for (var i = 1; i <= 4; i++) {
            $("#chkE" + i).addClass("ui-disabled");
        }
        LoadRoutine();
       // console.log("hide stuff");
        // $("#play-video-container").hide();
    }
    function ReadyUp() {
        $.ajax({
            url: "/set_judge_ready/" + Session,
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'ready': true,
                'judge': "d1ready",
                'event':ev,
            },
            success: function (data) {
              
            }
        });
    }
    function ShowStartList() {
         
        //$("#modalMainDoc").addClass("modal-lg");
        $("#modalMainTitle").html("Start List");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/athlete_start_list_admin/" + ev,  function () {

        });

        $("#modalBodyArea1").show();
    }

    function SetAthleteDisplay() {
        $("#divAthleteLabel").html(AthleteLabel);
    }
    function SetBasedOnStatus(doc) {
        if (doc.data() != undefined) {
            console.log("Set Based On Status");
            //CheckStream(doc);
            /*Stream = doc.data().stream;
            if (Stream != "") {
                //var db = firebase.firestore();
                console.log("Setup Setting Stream Listener To " + Stream);
                StreamListener = db.collection("streams").doc(Stream).onSnapshot(function (doc) {
                    HandleStreamChanges(doc);
                });
            }*/

            //cascade status so it does them in order.
            if (doc.data().status == status.NEW || doc.data().status == status.STARTED || doc.data().status == status.ATHLETE_DONE || doc.data().status == status.REVIEW_DONE) {
                //new
                RoutineID = doc.data().routine;
                //$("#txtVideoURL").val(doc.data().stream);
                
                /*CurrentAthlete = doc.data().athlete_id;
                AthleteLabel = GymnastLabels[CurrentAthlete];
                console.log("Status Set Athlete: " + AthleteLabel);
                SetAthleteDisplay();*/
                //$("#ddlAthlete").val(doc.data().athlete_id).change();
                JudgesReadyClick(true);
                EJudgesDone[1] = doc.data().e1done;
                EJudgesDone[2] = doc.data().e2done;
                EJudgesDone[3] = doc.data().e3done;
                EJudgesDone[4] = doc.data().e4done;
                EJudgesInclude[1] = doc.data().e1include;
                EJudgesInclude[2] = doc.data().e2include;
                EJudgesInclude[3] = doc.data().e3include;
                EJudgesInclude[4] = doc.data().e4include;
                SetJudgeChecks();
                EJudgesReady[1] = doc.data().e1ready;
                EJudgesReady[2] = doc.data().e2ready;
                EJudgesReady[3] = doc.data().e3ready;
                EJudgesReady[4] = doc.data().e4ready;
            }
            if (doc.data().status == status.STARTED || doc.data().status == status.ATHLETE_DONE || doc.data().status == status.REVIEW_DONE) {
                //started
                StartJudgingClick(true);
            }
            if (doc.data().status == status.ATHLETE_DONE) {
                //athlete done
                ExerciseDoneClick(true);
            }
            if (doc.data().status == status.REVIEW_DONE) {
                //athlete done
                Status = status.REVIEW_DONE;
                ExerciseDoneClick(true, true);//second true makes it grab score after
                $("#btnFinish").removeClass("ui-disabled");
                $("#btnAccountability").removeClass("ui-disabled");
                Status = status.REVIEW_DONE;
            }
            /* RoutineID = doc.data().routine
             if (doc.data().status == "N") {
 
                 Reset();
             }
             else if (doc.data().status == "S") {
                 StartJudging();
             }
             else if (doc.data().status == "AD") {
                 AthleteDone();
             }
             Status = doc.data().status;
 
             console.log("Current data: ", doc.data());
             $("#divStatus").html(doc.data().stream + " | " + doc.data().status);*/
        }
    }

    function CheckAthlete(doc) {
        if (doc.data().start_list_change != undefined) {
            if (doc.data().start_list_change != StartListChange) {
                StartListChange = doc.data().start_list_change;
                //update the gymnast if on status New
                if (Status == status.NEW)
                    GetNextAthlete(true);
            }
        }
    }

    function CheckJudges(doc) {
        if (doc.data().routine != undefined) {
            if (RoutineID == doc.data().routine) {
                let RedoDots = false;
                console.log("Check Judges " + EJudgesDone[1] + " | " + doc.data().e1done);
                if (EJudgesDone[1] != doc.data().e1done) {
                    EJudgesDone[1] = doc.data().e1done;
                    RedoDots = true;
                }
                if (EJudgesDone[2] != doc.data().e2done) {
                    EJudgesDone[2] = doc.data().e2done;
                    RedoDots = true;
                }
                if (EJudgesDone[3] != doc.data().e3done) {
                    EJudgesDone[3] = doc.data().e3done;
                    RedoDots = true;
                }
                if (EJudgesDone[4] != doc.data().e4done) {
                    EJudgesDone[4] = doc.data().e4done;
                    RedoDots = true;
                }
                if (RedoDots) {
                    if (Status == "AD")
                        BuildDots(false);
                    else
                        BuildDots(true);
                }
            }
            if (EJudgesReady[1] != doc.data().e1ready) {
                EJudgesReady[1] = doc.data().e1ready;
                if (EJudgesReady[1])
                    $("#divJudgeDotE1").removeClass("status-dot-red").addClass("status-dot-green");
                else
                    $("#divJudgeDotE1").addClass("status-dot-red").removeClass("status-dot-green");
            }
            if (EJudgesReady[2] != doc.data().e2ready) {
                EJudgesReady[2] = doc.data().e2ready;
                if (EJudgesReady[2])
                    $("#divJudgeDotE2").removeClass("status-dot-red").addClass("status-dot-green");
                else
                    $("#divJudgeDotE2").addClass("status-dot-red").removeClass("status-dot-green");
            }
            if (EJudgesReady[3] != doc.data().e3ready) {
                EJudgesReady[3] = doc.data().e3ready;
                if (EJudgesReady[3])
                    $("#divJudgeDotE3").removeClass("status-dot-red").addClass("status-dot-green");
                else
                    $("#divJudgeDotE3").addClass("status-dot-red").removeClass("status-dot-green");
            }
            if (EJudgesReady[4] != doc.data().e4ready) {
                EJudgesReady[4] = doc.data().e4ready;
                if (EJudgesReady[4])
                    $("#divJudgeDotE4").removeClass("status-dot-red").addClass("status-dot-green");
                else
                    $("#divJudgeDotE4").addClass("status-dot-red").removeClass("status-dot-green");
            }
        }
    }

    function SetJudgeChecks() {
        for (var i = 1; i <= 4; i++) {
            $("#chkE" + i).prop("checked", EJudgesInclude[i]);
            JudgeStrike(i);
        }
    }

    function JudgeStrike(j) {
        console.log("JudgeStrike " + j);
        if ($("#chkE" + j).prop("checked") && $("#chkE" + j).css("display") != "none") {
            $("#divE" + j + "N").removeClass("judge-strike");
            $("#tdE" + j).show();
            $("#divET" + j).show();
        }
        else {
            $("#divE" + j + "N").addClass("judge-strike");
            $("#tdE" + j).hide();
            $("#divET" + j).hide();
        }
    }

    function EJudgeCheckCalc(j) {
        if (RoutineID != 0)
            SetJudgesParticipating();
        EJudgesInclude[j] = $("#chkE" + j).prop("checked");
        JudgeStrike(j);
        if (Status == status.REVIEW_DONE || Status == status.FINISHED)
            CalculateScores();
    }

    function SetJudgesParticipating() {
         $.ajax({
            type: 'POST',
            url: '/set_judges_participating/',
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'routine': RoutineID,
                'e1': $("#chkE1").prop("checked"),
                'e2': $("#chkE2").prop("checked"),
                'e3': $("#chkE3").prop("checked"),
                'e4': $("#chkE4").prop("checked")
            },
            success: function (data) {
            }
        });
    }

    

    function SetupPage() {

        //$("#ddlAthlete").val(FirstGymnast).change();

        if ((ev == "FX" || ev == "HB") && ScoringType != "JO4567")
            $("#tdBonus").html("Connections and Bonus: ");

        ReadyUp();
        SetDotsArea();
        //$("#divDotsArea").width(VidWidth - VideoLossRight);
        document.getElementById('divDotsArea').addEventListener('click', NewDeduction);
        $("#divHeader").html("<h4 style='display:inline'>" + D1Judge + "</h4>");

        Reset();

    }

    function Reset() {
        Status = status.BLANK;
        SetJudges();
        SetJudgesDone(false);
        
        RoutineID = 0;
        //$("#btnStartJudging").show();
        $("#btnStartJudging").addClass('ui-disabled');
        //$("#btnExerciseDone").hide();
        $("#btnExerciseDone").addClass('ui-disabled');
        $("#btnNuke").addClass('ui-disabled');
        //$("#btnJudgesReady").removeClass('ui-disabled');
        //$("#txtVideoURL").removeClass('ui-disabled');
        $("#divDotsArea").empty();
        $("#divDotsAreaGlobal").empty();
        $(".entrybox").addClass('ui-disabled');
        $("#btnSetDScore").addClass('ui-disabled');
        $("#btnFinish").addClass("ui-disabled");
        $("#btnAccountability").addClass("ui-disabled");
        document.getElementById('lblDScore').innerHTML = "";
        document.getElementById('divEScore').innerHTML = "";
        document.getElementById('divTotalScore').innerHTML = "";
        for (var i = 1; i <= 4; i++) {
            $("#tdE" + i).removeClass("judge-strike");
            $("#divET" + i).removeClass("judge-strike");
        }
        if (LoadRot == "")
            GetNextAthlete(true);
    }

    function JudgesReadyClick(Syncing = false) {
        //window.WowzaWebRTCPlay.stop();
        //SetupStream();
        //console.log(Syncing);
        if (!Syncing)
            SetupRoutine();
        $("#btnStartJudging").removeClass('ui-disabled');
        //$("#btnNuke").addClass('ui-disabled');
        Status = status.NEW;
    }

    function StartJudgingClick(Syncing = false) {
        if (StreamConnected || Syncing) {
            if (CheckJudgesReady() || Syncing) {
                $("#btnStartJudging").addClass('ui-disabled');
                if (!Syncing) {
                    //RoutineStartJudging();
                    StartRecording();
                }

                //$("#btnJudgesReady").addClass('ui-disabled');
                //$("#txtVideoURL").addClass('ui-disabled');
                //$("#ddlAthlete").addClass('ui-disabled');
                $("#btnExerciseDone").removeClass('ui-disabled');
                $("#btnNuke").removeClass('ui-disabled');
                Status = status.STARTED;
            }
            else
                alert("All EJudges Not Ready");
        }
        else
            alert("Waiting for Camera");
        
    }

    function StartRecording() {
        recorder = RecordRTC(document.getElementById('player-video').srcObject, {
            type: 'video'
        });
        recorder.startRecording();
        RoutineStartJudging();
    }

    function StopRecording() {
        recorder.stopRecording(function () {
            RoutineAthleteDone();
            getSeekableBlob(recorder.getBlob(), function(seekableBlob) {
            //videoElement.src = URL.createObjectURL(seekableBlob);
                console.log(seekableBlob);
                //document.getElementById('VideoPlayer').src = URL.createObjectURL(seekableBlob);
               // $("#VideoPlayer").show();
                var formData = new FormData();
                formData.append('video-filename', RoutineID + '.webm');
                formData.append('video-blob', seekableBlob);
                $.ajax({
                    type: 'POST',
                    url: '/save_video/',
                    data: formData,
                    headers: { "X-CSRFToken": token },
                    processData: false,
                    contentType: false
                }).done(function(data) {
                       console.log(data);
                });
           // recorder.stream.stop();
            //recorder.destroy();
            //recorder = null;
        
           });
           
           
           
            //invokeSaveAsDialog(blob);
        });
    }

    function ExerciseDoneClick(Syncing = false, CalcScoreAfter = false) {
        if (!Syncing) {
            
            StopRecording();
        }
        else
            BuildDots(CalcScoreAfter);
        $(".entrybox").removeClass('ui-disabled');
        $("#btnSetDScore").removeClass('ui-disabled');
        Status = status.ATHLETE_DONE;
        $("#btnStartJudging").addClass('ui-disabled');
        $("#btnExerciseDone").addClass('ui-disabled');;
    }

    function GetDScore() {
        $.ajax({
            url: "/routine_get_info/",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'routine': RoutineID,
            },
            success: function (data) {
                //console.log(data);
                $("#txtElements").val(data['score_elements']);
                $("#txtDifficulty").val(data['score_difficulty']);
                $("#txtGroups").val(data['score_groups']);
                $("#txtBonus").val(data['score_bonus']);
                $("#txtNeutralDed").val(data['score_neutral']);
                CalculateScores();
            }
        });
    }

    function LoadRoutine() {
        $.ajax({
            url: "/routine_get_info/",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'routine': RoutineID,
            },
            success: function (data) {
                //console.log(data);
                SetDScoreType(data['athlete_id']);
                SetDScoreDefaults();
                $("#lblElements").html(data['score_elements']);
                $("#lblDifficulty").html(data['score_difficulty']);
                $("#lblGroups").html(data['score_groups']);
                $("#lblBonus").html(data['score_bonus']);
                $("#lblNeutralDed").html(data['score_neutral']);
                $("#lblDScore").html(data['score_d']);
                $("#divET1").html(data['score_e1']);
                $("#divET2").html(data['score_e2']);
                $("#divET3").html(data['score_e3']);
                $("#divET4").html(data['score_e4']);
                $("#chkE1").prop('checked',data['e1_include']);
                $("#chkE2").prop('checked',data['e2_include']);
                $("#chkE3").prop('checked',data['e3_include']);
                $("#chkE4").prop('checked',data['e4_include']);
                $("#divEScore").html(data['score_e']);
                $("#divTotalScore").html(data['score_final']);
                $("#divHeader").html("<h2 style='display:inline'>" + GymnastLabels[data['athlete_id']] + "</h2>");
                LoadVideo();
                console.log($("#divDotsArea").width());
                
                $("#btnAccountability").removeClass("ui-disabled");
                setTimeout(RoutineLoadBuildDots,1000)
                if (ev != "V")
                    RedLineInterval = setInterval(UpdateRedLine, 250);
               
            }
        });
    }

    function RoutineLoadBuildDots() {
        BuildDots(false,'1');
                CalculateScores();
    }

    function SetDScoreClick() {
        Status = status.REVIEW_DONE;
        SetDScore();
    }

    function SetDScore(completeRoutine = false) {
        CalculateScores();
        $.ajax({
            url: "/routine_set_score/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'routine': RoutineID,
                'score_elements': $("#txtElements").val(),
                'score_difficulty': $("#txtDifficulty").val(),
                'score_groups': $("#txtGroups").val(),
                'score_bonus': $("#txtBonus").val(),
                'score_neutral': $("#txtNeutralDed").val(),
                'score_e1': $("#divET1").html(),
                'score_e2': $("#divET2").html(),
                'score_e3': $("#divET3").html(),
                'score_e4': $("#divET4").html(),
                'score_e': $("#divEScore").html(),
                'score_d': $("#lblDScore").html(),
                'score_final': $("#divTotalScore").html(),
            },
            success: function (data) {
                if (completeRoutine) {
                    FinishRoutine();
                    Status = status.BLANK;
                    MarkDoneAndGetNextAthlete();
                    
                   
                }
            }
        });
        $("#btnFinish").removeClass("ui-disabled");
        $("#btnAccountability").removeClass("ui-disabled");
    }

    function PlayerJump(jump) {
        let vp = document.getElementById("video-playback");
        vp.currentTime = jump;
    }

    function CalculateScores() {

        var Score = 0;
        var TotalCounted = 0;
        var difScore = 0;
        var DeductFrom = 0;
        let countedE = 0;
        let groups = 0;
        var StartValueScore = 0;
        if (LoadRot == "") {
            Score = parseFloat($("#txtDifficulty").val()) + parseFloat($("#txtBonus").val()) - parseFloat($("#txtNeutralDed").val());
            difScore = parseFloat(Score).toFixed(2);
            countedE = parseInt($("#txtElements").val());
            groups = parseFloat($("#txtGroups").val());
        }
        else {
            Score = parseFloat($("#lblDifficulty").html()) + parseFloat($("#lblBonus").html()) - parseFloat($("#lblNeutralDed").html());
            difScore = parseFloat(Score).toFixed(2);
            countedE = parseInt($("#lblElements").html());
            groups = parseFloat($("#lblGroups").html());
        }

        if (ScoringType == "JO4567") {
            StartValueScore = parseFloat(Score).toFixed(1);
            DeductFrom = -1;//ignore if -1
            var TotalDeductions = CalcDeductions(DeductFrom);
            EScore = parseFloat(TotalDeductions).toFixed(3);
            DScore = StartValueScore;
            if (EScore < 0)
                EScore = 0;
            //console.log ("TotalDeductions: " + TotalDeductions + " | StartValueScore: " + StartValueScore )
            document.getElementById('divEScore').innerHTML =  parseFloat(EScore).toFixed(2);
            document.getElementById('lblDScore').innerHTML = StartValueScore;
            //StartValueScore = parseFloat(DeductFrom) + parseFloat(StartValueScore);
            let tot = (parseFloat(StartValueScore - TotalDeductions).toFixed(2))
            if (tot < 0)
                tot = 0
            document.getElementById('divTotalScore').innerHTML = (parseFloat(tot).toFixed(2));
        }
        else if (ScoringType == "JO8910") {
            /*if (countedE > 1 && countedE <= 3)
                DeductFrom = 2;
            else if (countedE > 3 && countedE <= 5)
                DeductFrom = 4;
            else if (countedE > 5 && countedE <= 7)
                DeductFrom = 6;
            else if (countedE > 5)*/
                DeductFrom = 10;

            if (ev == "V")
                DeductFrom = 10;
            StartValueScore = +parseFloat(Score).toFixed(1) + +parseFloat(groups).toFixed(1);
            var TotalDeductions = CalcDeductions(DeductFrom);
            EScore = parseFloat(DeductFrom - TotalDeductions).toFixed(3);
            DScore = StartValueScore;
            if (EScore < 0)
                EScore = 0;
            document.getElementById('divEScore').innerHTML = parseFloat(EScore).toFixed(2);
            document.getElementById('lblDScore').innerHTML = StartValueScore;
            let tot =  (parseFloat(+StartValueScore + +EScore).toFixed(2));
            if (tot < 0)
                tot = 0
            document.getElementById('divTotalScore').innerHTML = parseFloat(tot).toFixed(2);
        }
        else //fig
        {
            if (countedE > 1 && countedE <= 3)
                DeductFrom = 2;
            else if (countedE > 3 && countedE <= 5)
                DeductFrom = 4;
            else if (countedE > 5 && countedE <= 7)
                DeductFrom = 6;
            else if (countedE > 7)
                DeductFrom = 10;

            if (ev == "V")
                DeductFrom = 10;
            StartValueScore = +parseFloat(Score).toFixed(1) + +parseFloat(groups).toFixed(1);
            var TotalDeductions = CalcDeductions(DeductFrom);

            EScore = parseFloat(DeductFrom - TotalDeductions).toFixed(3);
            DScore = StartValueScore;
            if (EScore < 0)
                EScore = 0;
            document.getElementById('divEScore').innerHTML =  parseFloat(EScore).toFixed(2);
            document.getElementById('lblDScore').innerHTML = StartValueScore;

            document.getElementById('divTotalScore').innerHTML = (parseFloat(+StartValueScore + +EScore).toFixed(2));
        }
    }

    function CalcDeductions(Against) {
        var ETotal = 0;
        var EScores = new Array();
        let high = -1;
        let low = -1;
        let highest = 0;
        let lowest = 1000;
        JudgesCounting = 0;
        console.log("Calc deductins");
        //console.log("Deductions:");
        for (var j = 1; j <= 4; j++) {
            EScores[j] = -1;
            //console.log(j + " : " + $("#chkE" + j).prop('checked'));
            //if ($("#chkE" + j).prop('checked')) {
            if ($("#chkE" + j).prop('checked')) {
                if (JudgeDeductions[j] == undefined)
                    JudgeDeductions[j] = 0;
                if (EJudges[j] != "") {
                    $("#tdE" + j).show();
                    $("#divET" + j).show();
                    $("#tdE" + j).removeClass("judge-strike");
                    $("#divET" + j).removeClass("judge-strike");
                    //console.log(JudgeTotals[j]);
                    if (Against != -1)
                        EScores[j] = parseFloat(Against - JudgeDeductions[j]).toPrecision(2);
                    else
                        EScores[j] = parseFloat(JudgeDeductions[j]).toPrecision(2);
                    if (EScores[j] < 0)
                        EScores[j] = 0
                    $("#divET" + j).html(EScores[j])
                    JudgesCounting += 1;
                    if (parseFloat(JudgeDeductions[j]).toPrecision(2) > highest) {
                        highest = parseFloat(JudgeDeductions[j]);
                        high = j;
                    }
                    if (parseFloat(JudgeDeductions[j]).toPrecision(2) < highest) {
                        lowest = parseFloat(JudgeDeductions[j]);
                        low = j;
                    }
                    ETotal += JudgeDeductions[j];
                }
                else {
                    $("#tdE" + j).hide();
                    $("#divET" + j).hide();
                }
            }
            else {
                $("#tdE" + j).hide();
                $("#divET" + j).hide();
            }
        }
        if (JudgesCounting == 0)
            JudgesCounting = 1;
        if (JudgesCounting == 4) {
            //discard top and bottom
            ETotal = ETotal - lowest - highest;
            JudgesCounting = 2;
            $("#tdE" + high).addClass("judge-strike");
            $("#divET" + high).addClass("judge-strike");
             $("#tdE" + low).addClass("judge-strike");
            $("#divET" + low).addClass("judge-strike");
        }
        ETotal = ETotal / (JudgesCounting);
        //console.log(ETotal);
        return ETotal;
    }

    function DeleteRoutineClick() {
        if (confirm("Delete the Routine?")) {
            DeleteRoutine();
            Status = status.BLANK;
            Reset();
        }
    }

    function FinishRoutineClick() {
        SetDScore(true);
       
    }

    function DeleteRoutine() {
        $.ajax({
            url: "/routine_delete/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'routine': RoutineID,
            },
            success: function (data) {
            }
        });
    }

     function FinishRoutine() {
        $.ajax({
            url: "/routine_finished/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'routine': RoutineID,
            },
            success: function (data) {
            }
        });
    }

    function RoutineStartJudging() {
        $.ajax({
            url: "/routine_start_judging/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'athlete': CurrentAthlete
            },
            dataType: 'json',
            success: function (data) {
                RoutineID = data['routine'];
                SetJudgesParticipating();
            }
        });
    }
    function RoutineAthleteDone() {
        $.ajax({
            url: "/routine_athlete_done/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
            },
            dataType: 'json',
            success: function (data) {
                RoutineLength = data['athlete_done_time'] - data['start_time']
                BuildDots();
            }
        });
    }

    function SetupRoutine() {
        $.ajax({
            url: "/routine_setup/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'athlete': CurrentAthlete
            },
            dataType: 'json',
            success: function (data) {
                /*RoutineID = data['routine'];
                if (RoutineID == -1)
                    alert(data['error']);*/
            }
        });
    }
    function MarkDoneAndGetNextAthlete() {
        $.ajax({
            url: "/athlete_mark_done/" + CurrentAthlete,
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
            },
            success: function (data) {
                Reset();
            }
        });
    }
    function GetNextAthlete(judgesready=false) {
        $.ajax({
            url: "/athlete_get_next/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
            },
            dataType: 'json',
            success: function (data) {
                if (data['id'] != '-1') {
                    console.log("DB set athlete: " + data['label']);
                    CurrentAthlete = data['id'];
                    AthleteLabel = data['label'];
                    AthleteLevel = data['level'];
                    AthleteTeam = data['team'];

                    SetAthlete();
                    if (judgesready)
                        JudgesReadyClick();
                }
                else {
                    alert("All Athletes Done, Going To Scoreboard");
                    window.location = "/scoreboard/";
                }

            }
        });
    }
     async function GetStreamInfo() {
        const result = await $.ajax({
            url: "/streaming/get_stream_connection_info/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
            },
            dataType: 'json',
            success: function (data) {
               
            }
        });
        console.log(result);
         return result;
    }
   function SetupStream() {
       GetStreamInfo().then((result) => {

            /*$("#playSdpURL").val(result["sdp_url"]);
            $("#playApplicationName").val(result["application_name"]);
            $("#playStreamName").val(result["stream_name"]);
            $("#play-toggle").click();*/
        });

    //WowzaSetStream()
    /*$("#divTwitchPlayer").empty();
    var options = {
        width: VidWidth,
        height: 480,
        channel: $("#txtVideoURL").val(),
        parent: ["www.stseval.com"]
    };
    player = new Twitch.Player("divTwitchPlayer", options);
    player.setVolume(0.5);*/
}

    /*function LoadVideo(id,start,end) {
        $("#divTwitchPlayer").empty();
        var options = {
            width: VidWidth,
            height: 480,
            video: id,
            parent: ["www.stseval.com"],
            time: '0h0m' + start + 's'
        };
        player = new Twitch.Player("divTwitchPlayer", options);
        player.setVolume(0.5);
        player.addEventListener(Twitch.Player.READY, function(){
             CheckIfVideoReady(end);
        }, false);
    }*/

    function LoadVideo() {
        
        let vp = document.getElementById("video-playback");
        vp.pause();
        vp.currentTime = 0;
        //vp.src = VideoLocation + RoutineID + ".webm";
        vp.load();
        vp.play();
        
    }

    function UpdateRedLine()
    {
         let vp = document.getElementById("video-playback");
        let posx;
	    posx = vp.currentTime / vp.duration; //the time / total time for a fraction

	    posx = posx*(VidWidth-10);
	    posx += 5;
        $("#divRedLine").css({ left: posx });
        $("#divRedLine").show();
 
    }

    function CheckIfVideoReady(end) {
        setTimeout(function () {
            CheckIfVideoReady2(end);
        }, 500); 
    }
    function CheckIfVideoReady2(end) {
         console.log("duration: " + player.getDuration());
        if (end > player.getDuration())
            alert("Video Not Ready, Try Again Later");
    }

   

    function SetAthlete() {
        SetAthleteDisplay();
        SetDScoreType(CurrentAthlete);
        SetDScoreDefaults();
    }
    function SetDScoreType(AthleteIn) {
        ScoringType = GymnastScoringType[AthleteIn]; 
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function SetDScoreDefaults() {
        if (ScoringType == "JO4567") {
            console.log("Setting Scoring JO4567");
            $("#tdDifficulty").html("Base Score:");
            $("#tdDScore").html("Start Value:");
            $("#btnSetDScore").children(0).children(0).text("Set Start Value");
            for (var i = 1; i <= 4; i++) {
                if (EJudges[i] != "" && EJudges[i] != " ") {
                    $("#tdE" + i).html("E" + i + " Deduction:");
                }
            }
            $("#txtDifficulty").val('9.5');
            $("#txtElements").val('8');
            $("#txtBonus").val('0.0');
            $("#txtNeutralDed").val('0.0');
            $("#txtGroups").hide();
            $("#tdGroups").hide();
            $("#lblGroups").hide();
            $("#tdBonus").html("Bonus: ");
            $("#tdEScore").html("Average Deduction: ");
        }
        else if (ScoringType == "JO8910") {
            console.log("Setting Scoring JO8910");
            if (ev == "FX" || ev == "HB")
                $("#tdBonus").html("Connections and Bonus: ");
            else
                $("#tdBonus").html("Bonus: ");
            $("#tdDifficulty").html("Difficulty:");
            $("#btnSetDScore").children(0).children(0).text("Set D-Score");
            for (var i = 1; i <= 4; i++) {
                if (EJudges[i] != "" && EJudges[i] != " ") {
                    $("#tdE" + i).html("E" + i + " Execution:");
                }
            }
            $("#tdDScore").html("D-Score:");
            $("#txtDifficulty").val('0.0');
            $("#txtBonus").val('0.0');
            $("#txtNeutralDed").val('0.0');
            $("#txtGroups").val('2.0');
            $("#txtElements").val('8');
            $("#tdEScore").html("E-Score: ");
            if (LoadRot != "") {
                $("#txtGroups").hide();
                $("#lblGroups").show();
            }
            else {
                $("#lblGroups").hide();
                $("#txtGroups").show();
            }
            $("#tdGroups").show();
        }
        else//fig or elite
        {
            console.log("Setting Scoring FIG");
            $("#tdDifficulty").html("Difficulty:");
            $("#tdDScore").html("D-Score:");
            $("#btnSetDScore").children(0).children(0).text("Set D-Score");
            for (var i = 1; i <= 4; i++) {
                if (EJudges[i] != "" && EJudges[i] != " ") {
                    $("#tdE" + i).html("E" + i + " Execution:");
                }
            }
            $("#txtDifficulty").val('0.0');
            $("#txtGroups").val('2.0');
            $("#txtElements").val('10');
            $("#txtBonus").val('0.0');
            $("#txtNeutralDed").val('0.0');
            $("#tdEScore").html("E-Score: ");
            if (ev == "FX" || ev == "HB")
                $("#tdBonus").html("Connections and Bonus: ");
            else
                $("#tdBonus").html("Bonus: ");
            if (LoadRot != "") {
                $("#txtGroups").hide();
                $("#lblGroups").show();
            }
            else {
                $("#lblGroups").hide();
                $("#txtGroups").show();
            }
            $("#tdGroups").show();
        }
    }

    function CheckJudgesReady() {
        for (var i = 1; i <= 4; i++) {
            if (EJudges[i] != "" && EJudges[i] != " " && EJudgesInclude[i]) {
                if (!EJudgesReady[i])
                    return false;
            }
        }
        return true;
    }


    function SetJudges() {
        NumJudges = 0;
        
        for (var i = 1; i <= 4; i++) {
            if (EJudges[i] != "" && EJudges[i] != " ") {
                //check excluded judges from loading
                //if (EJudgesRemoved[i] == undefined)
                // {
                NumJudges++;
                //if (TrainName != "")
                //$("#divE" + i + "N").html(EJudges[i].substring(0, 2) + " " + EJudges[i].substring(2));
                // else
                //$("#divE" + i + "N").html(EJudges[i]);
                //$("#divJT" + i).empty();
                console.log("Set Judges " + i);
                $("#chkE" + i).show();
                if (LoadRot == "")
                    $("#divJudgeDotE" + i).show();
                $("#chkE" + i).prop('checked', true);
                $("#divET" + i).show();
                $("#tdE" + i).show();
                $("#divET" + i).html('');
                $("#divE" + i + "N").removeClass("judge-strike");
                AddJudge(i);
                JudgeDeductions[i] = 0;
                EJudgesInclude[i] = true;
                //}
                //DedArrayJudges[i] = new Array();
                //$("#divDotsArea").append("<div id='divJT" + i + "' style='position:absolute;right:5px;top:" + (((i*JudgeYOffset)-(DotSize/2))-2) + "px;font-size:14px;font-weight:bold'></div>");
            }
            else {
                $("#divET" + i).hide();
                $("#tdE" + i).hide();
                $("#divE" + i + "N").hide();
            }
        }
    }
    function RemoveJudge(j) {
        $("#chkE" + j).prop('checked', false);
        $("#divE" + j + "N").addClass("LineThroughRed");
        //$("#divJT" + j).addClass("LineThroughRed");
        $("#divET" + j).hide();
        $("#tdE" + j).hide();
    }

    function AddJudge(j) {
        console.log("AddJudge " + j);
        $("#divE" + j + "N").removeClass("LineThroughRed");
        //$("#divJT" + j).removeClass("LineThroughRed");;
        $("#divET" + j).show();
        $("#tdE" + j).show();
    }
    function SetJudgesDone(statusIn) {
        for (var i = 1; i <= 4; i++) {
            EJudgesDone[i] = statusIn;
        }
    }

    function SetJudgesInclude(statusIn) {
        for (var i = 1; i <= 4; i++) {
            EJudgesInclude[i] = statusIn;
        }
    }

    function ViewAccountabilityReport() {
        $("#AccountabilityReportBlackOut").show();
        $("#divAccountabilityReport").empty();
        $("#divAccountabilityReport").load("/accountability_report/?routine=" + RoutineID, function () {
            $("#divAccountabilityReport").slideDown();
        });
    }

    function CloseAccountabilityReport() {
        $("#AccountabilityReportBlackOut").hide();
        $("#divAccountabilityReport").hide();
    }

     async function CheckStreamStatus() {
        const result = await $.ajax({
            url: "/streaming/get_state/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'camera': Camera,
            },
            dataType: 'json',
            success: function (data) {
               
            }
        });
        console.log(result["live_stream"]["state"]);
        if (result["live_stream"] != undefined)
            return (result["live_stream"]["state"]);
        else {
            alert("Your camera account is not setup, contact the meet administrator");
            return "error";
        }
    }


</script>
{% endblock %}
