{% if loadroutine != '' %} 
    <table cellspacing="0" cellpadding="0" border="0" style="font-size:0.75rem;">
	    <tr><td id="tdElements" align="right">Elements:</td><td><input type="text" id="txtElements" placeholder="Elements" class="entrybox" onkeypress="return isNumberKey(event)" value="{{loadroutine.score_elements}}"></td></tr>
	    <tr><td id="tdDifficulty" align="right">Base Score:</td><td><input type="text" id="txtDifficulty" placeholder="Difficulty" class="entrybox"  onkeypress="return isNumberKey(event)"  value="{{loadroutine.score_difficulty}}"></td></tr>
	    <tr><td id="tdGroups" align="right">Groups:</td><td><input type="text" id="txtGroups" placeholder="Groups" class="entrybox"  onkeypress="return isNumberKey(event)"  value="{{loadroutine.score_groups}}"></td></tr>
	    <tr><td id="tdBonus" align="right">Bonus:</td><td><input type="text" id="txtBonus" placeholder="Bonus" class="entrybox" onkeypress="return isNumberKey(event)" value="{{loadroutine.score_bonus}}" ></td></tr>
	    <tr><td id="tdNeutralDed" align="right">Neutral Deductions:</td><td><input type="text" id="txtNeutralDed" placeholder="Neutral Ded." class="entrybox" onkeypress="return isNumberKey(event)"  value="{{loadroutine.score_neutral}}"></td></tr>
    </table>
    <div class="d-flex">
        <button href="#" id="btnEditDone" type="button" class="btn btn-success col-6 mb-2 mr-1" onclick="EditDScoreDoneClick()">Save</button>
        <button href="#" id="btnEditDoneCancel" type="button" class="btn btn-red col-6 mb-2" onclick="EditDScoreCancelClick()">Cancel</button>
    </div>
{% else %}
    You do not have edit permission
{% endif %}