{% load staticfiles %}
{% if routine.event == 'V' %}
    <div id="divVP1" style="border-right:1px solid;position:absolute;left:25%;height:100%;width:1px"></div><div id="divVP2" style="border-right:1px solid;position:absolute;left:50%;height:100%;width:1px"></div><div id="divVP3" style="border-right:1px solid;position:absolute;left:75%;height:100%;width:1px"></div>
{% endif %}
{% for deduction in deductions %}
    <img id='imgDot{{deduction.id}}' src='{% static 'app/images/dots/' %}{{deduction.image}}' width='{{dot_size}}' height='{{dot_size}}' style='position:absolute;top:{{deduction.posy}}px;left:{{deduction.posx}}px;opacity:{{deduction.opacity}}' onclick='{% if deduction.opacity == 1 %}ChangeEjury({{deduction.id}});{% endif %}event.stopPropagation();'>
{% endfor %}

{% if artistry_deductions|length > 0 %}
    <div id="divArtistryDeductions" style="display:none">
        {% for deduction in artistry_deductions %}
            <img id='imgDot{{deduction.id}}' src='{% static 'app/images/dots/' %}{{deduction.image}}' width='{{dot_size}}' height='{{dot_size}}' style='position:absolute;top:{{deduction.posy}}px;left:{{deduction.posx}}px;opacity:{{deduction.opacity}}' onclick='{% if deduction.opacity == 1 %}ChangeEjury({{deduction.id}});{% endif %}event.stopPropagation();'>
        {% endfor %}
    </div>
{% endif %}

<script type="text/javascript">
    {% for k,v in judge_totals.items %}
        JudgeDeductions[{{k}}] = {{v}};
    {% endfor %}
    {% for i in vault_phases %}
        VDedPhases[{{forloop.counter0}}] = {{i}};
    {% endfor %}
    //move global/artistry over
    $("#divDotsAreaGlobal").empty();
    $("#divArtistryDeductions").detach().appendTo("#divDotsAreaGlobal");
    $("#divArtistryDeductions").show();
</script>
