{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% include "chat/chat.html" %}
<div id="AccountabilityReportBlackOut" style="width:100%;height:100%;background-color:#000000;opacity: .3;position:fixed;z-index:103;display:none" onclick="CloseAccountabilityReport()"></div>
<div id="divAccountabilityReport" style="position:absolute;z-index:104;text-align:center;padding:5px;overflow:auto;display:none;background-color:rgb(97, 97, 106);color:white;top:10%;left:35%;width:40%"  class="rounded"></div>
<div style="margin:10px;padding:0" align="center">
    <div id="divHeader"></div>
    <table>
        <tr>
            <td>
                <!--<div id="divTwitchPlayer" style="width:854px;height:480px"></div>-->
                 
                <div id="play-video-container" class="live-container d-flex align-items-center justify-content-center">
                            <div id="player-waiting"><h1>Waiting for Camera</h1></div>
                            <video id="player-video" autoplay playsinline controls muted class="live-video" style="display:none"></video>
                        </div>
            </td>
            <td valign="top">
                <div id="divScoreArea" style="padding-left:15px;padding-top:30px;" >
                    <table cellspacing="0" cellpadding="0" border="0" style="font-size:0.75rem">
	                    <tr><td id="tdElements" align="right">Elements:</td><td><div id="lblElements"></div></td></tr>
	                    <tr><td id="tdDifficulty" align="right">Base Score:</td><td><div id="lblDifficulty"></div></td></tr>
	                    <tr><td id="tdGroups" align="right">Groups:</td><td><div id="lblGroups"></div></td></tr>
	                    <tr><td id="tdBonus" align="right">Bonus:</td><td><div id="lblBonus"></div></td></tr>
	                    <tr><td id="tdNeutralDed" align="right">Neutral Deductions:</td><td><div id="lblNeutralDed"></div></td></tr>
	                    <tr><td id="tdDScore" align="right" style="text-decoration:underline">D-Score:</td><td><div id="lblDScore" style="text-decoration:underline"></div></td></tr>
	                    <tr><td colspan="2" align="right"></td></tr>
	                    <tr><td id="tdE1" align="right">E1 Execution:</td><td id="divET1">0.0</td></tr>
	                    <tr><td id="tdE2" align="right">E2 Execution:</td><td id="divET2">0.0</td></tr>
	                    <tr><td id="tdE3" align="right">E3 Execution:</td><td id="divET3">0.0</td></tr>
	                    <tr><td id="tdE4" align="right">E4 Execution:</td><td id="divET4">0.0</td></tr>
	                    <tr><td id="tdEScore" align="right" style="text-decoration:underline">E-Score:</td><td id="divEScore" style="text-decoration:underline">0.0</td></tr>
	                    <tr><td align="right" style="height:10px"></td><td></td></tr>
	                    <tr><td id="tdTotal" align="right" style="text-decoration:underline">Final Score:</td><td id="divTotalScore" style="text-decoration:underline">0.0</td></tr>
	                </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="divDotsHolder" style="position:relative;max-width:852px;">
	                <div id="divDotsArea" class="DotsArea" style="width:854px;height:100px;">
	                    <div id="divRedLine" style="position:absolute;left:20px;top:0px;height:100px;border-left:1px solid red;width:1px;display:none"></div>
	                </div>
                    <div id="divEJudges" align="left" style="float:left;padding-left:5px;padding-top:5px;position:absolute;top:0px;left:0px;">
	  		        <div>
		                <table cellspacing="0" border=0 cellpadding="0">
			                <tr>
                                <td><input type="checkbox" id="chkE1" data-role="none" style="display:none" onclick="EJudgeCheckCalc(1)"></td>
			                    <!--<td id="divJT1" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE1N">&nbsp;E1</td>
			                </tr>
			                <tr>
                                <td><input type="checkbox" id="chkE2" data-role="none" style="display:none" onclick="EJudgeCheckCalc(2)"></td>
			                        <!--<td id="divJT2" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE2N">&nbsp;E2</td>
			                </tr>
			                <tr>
                                <td><input type="checkbox" id="chkE3" data-role="none" style="display:none" onclick="EJudgeCheckCalc(3)"></td>
			                        <!--<td id="divJT3" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE3N">&nbsp;E3</td>
			                </tr>
			                <tr>
                                <td><input type="checkbox" id="chkE4" data-role="none" style="display:none" onclick="EJudgeCheckCalc(4)"></td>
			                        <!--<td id="divJT4" style="width:30px;font-weight:bold"></td>-->
			                    <td id="divE4N">&nbsp;E4</td>
			                </tr>
		                </table>
		            </div>
	            </div>
                </div>
	        </td>
	        <td align="left" style="vertical-align:top;">
	            <div class="d-flex">
                    <div>
	                    <div id="divDotsAreaGlobal" style="position:relative;width:100px;height:100px;border-top:1px solid black;border-right:1px solid black;border-bottom:1px solid black;background-color:#373748">
	   
	                    </div>
	                   
                    </div>
                    <div style="padding-left:5px">
	                    <button href="#" id="btnAccountability" type="button" class="btn btn-main mb-2 ui-disabled" onclick="ViewAccountabilityReport()">Report</button>
	                </div>
                </div>
            </td>
        </tr>
    </table> 
 </div>
<div id="play-settings" style="display:none">
    <form id="play-settings-form">
        <input type="text" class="form-control" id="playSdpURL" name="playSdpURL" maxlength="1024" placeholder="wss://[ssl-certificate-domain-name]/webrtc-session.json">     
        <input type="text" class="form-control" id="playApplicationName" name="playApplicationName" maxlength="256">       
        <input type="text" class="form-control" id="playStreamName" name="playStreamName" maxlength="256">    
    </form>
    <button id="play-toggle" type="button" class="btn btn-main mb-2" style="display:none">Wozwa Hack</button>
</div>
{% endblock %}

{% block scripts %}
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<script src="{% static 'app/scripts/dots_area.js' %}?v=1"></script>
<script type="module" src="{% static 'app/scripts/wowza/play.js' %}?v=1"></script>
<script src="{% static 'app/scripts/stream_listener.js' %}"></script>
<script type="text/javascript">
    var Disc = "{{disc}}";
    var ev = "{{event}}";
    var Session = "{{session.id}}";
    var SessionName = "{{session}}";
    var D1Judge = "{{judges.d1}}";
    var EJudges = new Array();
    EJudges[1] = "{{judges.e1}}";
    EJudges[2] = "{{judges.e2}}";
    EJudges[3] = "{{judges.e3}}";
    EJudges[4] = "{{judges.e4}}";
    var DeductionsConfirmed = true;
    var GymnastLevels = new Array();
    var GymnastTeams = new Array();
     var GymnastLabels = new Array();
     var GymnastScoringType = new Array();
    {% for athlete in athletes %}
        GymnastLevels[{{athlete.id}}] = "{{athlete.level}}";
        GymnastTeams[{{athlete.id}}] = "{{athlete.team}}";
        GymnastLabels[{{athlete.id}}] = "{{athlete}}";
        GymnastScoringType[{{athlete.id}}] = "{{athlete.level.scoring_type}}";
    {% endfor %}
    var token = "{{ csrf_token }}";
    var ThisJudge = {{ej}};

</script>
<script type="text/javascript">
    //const firebase = require("firebase");
    var datahold;
    var RoutineID = -1;
    var Status = "";
    var SocringType;
    var EJudgesDone = new Array();
    var NumJudges = 0;

    var db = firebase.firestore();
    db.collection("sessions").doc(Session).collection("event_managers").doc(ev)
        .onSnapshot(function (doc) {
            SetBasedOnStatus(doc);
        });
    SetupChatListener();

    SetDotsArea();

    function SetBasedOnStatus(doc) {
        if (doc.data() != undefined) {
            $("#divHeader").html("<h2 style='display:inline'>" + doc.data().athlete + "</h2>");
            if (Status != doc.data().status || RoutineID != doc.data().routine) {
                RoutineID = doc.data().routine
                console.log(doc.data().status + " | " + Status);
                if (doc.data().status == "N" || doc.data().status == "S" || Status == "") {
                    SetDScoreType(doc.data().athlete_id);
                    SetDScoreDefaults();
                    Reset();
                    
                    //SetupStream(doc.data().stream);
                    Status = doc.data().status;
                }
                if (doc.data().status == "AD") {
                    BuildDots(false);
                    Status = doc.data().status;
                }
                if (doc.data().status == "RD") {
                    BuildDots(false);
                    LoadRoutine();
                    Status = doc.data().status;
                }
                if (doc.data().status == "D" || doc.data().status == "F") {
                    Reset();
                }
                else
                    CheckJudges(doc);
                
                // $("#divStatus").html(doc.data().stream + " | " + doc.data().status);
            }
            else
                CheckJudges(doc);
            
            console.log("Current data: ", doc.data());
        }
        CheckStream(doc);
    }
    function SetJudgesDone(statusIn) {
        for (var i = 1; i <= 4; i++) {
            EJudgesDone[i] = statusIn;
        }
    }
    function SetJudges() {
        NumJudges = 0;
        for (var i = 1; i <= 4; i++) {
            if (EJudges[i] != "" && EJudges[i] != " ") {
                NumJudges++;
                //if (TrainName != "")
                //$("#divE" + i + "N").html(EJudges[i].substring(0, 2) + " " + EJudges[i].substring(2));
                // else
                $("#divE" + i + "N").html("E" + i);
                $("#divJT" + i).empty();
                $("#divET" + i).show();
                $("#tdE" + i).show();
                $("#divET" + i).html('');
                //AddJudge(i);
                //}
                //DedArrayJudges[i] = new Array();
                //$("#divDotsArea").append("<div id='divJT" + i + "' style='position:absolute;right:5px;top:" + (((i*JudgeYOffset)-(DotSize/2))-2) + "px;font-size:14px;font-weight:bold'></div>");
            }
            else {
                $("#divET" + i).hide();
                $("#tdE" + i).hide();
            }
        }
    }

    function Reset() {
        $("#divDotsArea").empty();
        $("#divDotsAreaGlobal").empty();
        $("#lblElements").html('');
        $("#lblDifficulty").html('');
        $("#lblGroups").html('');
        $("#lblBonus").html('');
        $("#lblNeutralDed").html('');
        $("#lblDScore").html('');
        $("#divET1").html('');
        $("#divET2").html('');
        $("#divET3").html('');
        $("#divET4").html('');
        $("#divEScore").html('');
        $("#divTotalScore").html('');
        $("#btnAccountability").addClass("ui-disabled");
        SetJudges();
        SetJudgesDone(false);
    }

    function CheckJudges(doc) {
        if (RoutineID == doc.data().routine) {
            let RedoDots = false;
            console.log("Check Judges " + EJudgesDone[1] + " | " + doc.data().e1done);
            if (EJudgesDone[1] != doc.data().e1done) {
                EJudgesDone[1] = doc.data().e1done;
                RedoDots = true;
            }
            if (EJudgesDone[2] != doc.data().e2done) {
                EJudgesDone[2] = doc.data().e2done;
                RedoDots = true;
            }
            if (EJudgesDone[3] != doc.data().e3done) {
                EJudgesDone[3] = doc.data().e3done;
                RedoDots = true;
            }
            if (EJudgesDone[4] != doc.data().e4done) {
                EJudgesDone[4] = doc.data().e4done;
                RedoDots = true;
            }
            if (RedoDots) {
                BuildDots(false);
                if (Status == "RD")
                    LoadRoutine();

            }
        }
    }

    async function GetStreamInfo() {
        const result = await $.ajax({
            url: "/streaming/get_stream_connection_info/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                 'comp': Comp,
                'disc': Disc,
                'event': ev,
            },
            dataType: 'json',
            success: function (data) {
               
            }
        });
        console.log(result);
         return result;
    }
   function SetupStream() {
        GetStreamInfo().then((result) => {
            $("#playSdpURL").val(result["sdp_url"]);
            $("#playApplicationName").val(result["application_name"]);
            $("#playStreamName").val(result["stream_name"]);
            $("#play-toggle").click();
        });

    //WowzaSetStream()
    /*$("#divTwitchPlayer").empty();
    var options = {
        width: VidWidth,
        height: 480,
        channel: $("#txtVideoURL").val(),
        parent: ["www.stseval.com"]
    };
    player = new Twitch.Player("divTwitchPlayer", options);
    player.setVolume(0.5);*/
}


    function SetDScoreType(AthleteIn) {
         ScoringType = GymnastScoringType[AthleteIn]; 
    }

    function LoadRoutine() {
        $.ajax({
            url: "/routine_get_info/",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'routine': RoutineID,
            },
            success: function (data) {
                console.log(data);
                //SetDScoreType(data['athlete_id']);
                //SetDScoreDefaults();
                $("#lblElements").html(data['score_elements']);
                $("#lblDifficulty").html(data['score_difficulty']);
                $("#lblGroups").html(data['score_groups']);
                $("#lblBonus").html(data['score_bonus']);
                $("#lblNeutralDed").html(data['score_neutral']);
                $("#lblDScore").html(data['score_d']);
                $("#divET1").html(data['score_e1']);
                $("#divET2").html(data['score_e2']);
                $("#divET3").html(data['score_e3']);
                $("#divET4").html(data['score_e4']);
                $("#divEScore").html(data['score_e']);
                $("#divTotalScore").html(data['score_final']);
                $("#btnAccountability").removeClass("ui-disabled");

            }
        });
    }

    function SetDScoreDefaults() {
        if (ScoringType == "JO4567") {
            //console.log("Setting Scoring JO4567");
            $("#tdDifficulty").html("Base Score:");
            $("#tdDScore").html("Start Value:");
            $("#tdE1").html(EJudges[1] + " Deduction:");
            $("#tdE2").html(EJudges[2] + " Deduction:");
            $("#tdE3").html(EJudges[3] + " Deduction:");
            $("#tdE4").html(EJudges[4] + " Deduction:");
            $("#tdGroups").hide();
            $("#lblGroups").hide();
            $("#tdBonus").html("Bonus: ");
            $("#tdEScore").html("Average Deduction: ");
        }
        else if (ScoringType == "JO8910") {
            //console.log("Setting Scoring JO8910");
            if (ev == "FX" || ev == "HB")
                $("#tdBonus").html("Connections and Bonus: ");
            else
                $("#tdBonus").html("Bonus: ");
            $("#tdDifficulty").html("Difficulty:");
           $("#tdE1").html(EJudges[1] + " Execution:");
            $("#tdE2").html(EJudges[2] + " Execution:");
            $("#tdE3").html(EJudges[3] + " Execution:");
            $("#tdE4").html(EJudges[4] + " Execution:");
            $("#tdDScore").html("D-Score:");
            $("#tdEScore").html("E-Score: ");
            $("#tdGroups").show();
        }
        else//fig or elite
        {
            //console.log("Setting Scoring FIG");
            $("#tdDifficulty").html("Difficulty:");
            $("#tdDScore").html("D-Score:");
           $("#tdE1").html(EJudges[1] + " Execution:");
            $("#tdE2").html(EJudges[2] + " Execution:");
            $("#tdE3").html(EJudges[3] + " Execution:");
            $("#tdE4").html(EJudges[4] + " Execution:");
            $("#tdEScore").html("E-Score: ");
            if (ev == "FX" || ev == "HB")
                $("#tdBonus").html("Connections and Bonus: ");
            else
                $("#tdBonus").html("Bonus: ");
            $("#tdGroups").show();
        }
    }

    function ViewAccountabilityReport() {
        $("#AccountabilityReportBlackOut").show();
        $("#divAccountabilityReport").empty();
        $("#divAccountabilityReport").load("/accountability_report/?routine=" + RoutineID, function () {
            $("#divAccountabilityReport").slideDown();
        });
    }

    function CloseAccountabilityReport() {
        $("#AccountabilityReportBlackOut").hide();
        $("#divAccountabilityReport").hide();
    }

</script>
{% endblock %}
