    <div id="divFullScreen">
        <div id="divScreenContainer" class="container-fluid body-content">
    {% block content %}{% endblock %}

        </div>
    </div>
<div class="modal fade" id="modalMain" tabindex="-1" role="dialog" aria-labelledby="modalMainTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top:0;padding-bottom:0">
          <div>
        <h5 class="modal-title" id="modalMainTitle">Lookup By Group</h5>
              </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left:inherit">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalMainBody">
          <div id="modalBodyArea1"></div>
      </div>
    </div>
  </div>
</div>

{% block scripts %}{% endblock %}

