{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% include "chat/chat.html" %}
<div  align="center">
    {% include "app/event_select.html" %}  
    <div id="divHeader"><h4>{{session.full_name}}</h4></div>
   <div class="row no-gutters">
        <div class="col-xl-6 col-12 pr-4" align="right">
            <div id="play-video-container" class="live-container d-flex align-items-center justify-content-center">
                <div id="player-waiting" style="height:480px" class="align-items-center d-flex"><h1>Waiting for Camera</h1></div>
                <video id="player-video" autoplay playsinline controls class="live-video" style="display:none"></video>
                
            </div><div id="divAthlete" align="center"></div>
            
        </div>
        <div class="col-xl-6 col-12 pl-4" align="left">
            <h3 class="pl-4">Officials</h3>
            <div id="divOfficials">
                {% if judges.d1 != '' %}
                    <div id="divD1"><span id="divJudgeDotD1" class="status-dot-small status-dot-red mr-1"></span> D1: {{judges.d1}}</div>
                {% endif %}
                {% if judges.e1 != '' %}
                    <div id="divE1"><span id="divJudgeDotE1" class="status-dot-small status-dot-red mr-1"></span> E1: {{judges.e1}}</div>
                {% endif %}
                {% if judges.e2 != '' %}
                    <div id="divE2"><span id="divJudgeDotE2" class="status-dot-small status-dot-red mr-1"></span> E2: {{judges.e2}}</div>
                {% endif %}
                {% if judges.e3 != '' %}
                    <div id="divE3"><span id="divJudgeDotE3" class="status-dot-small status-dot-red mr-1"></span> E3: {{judges.e3}}</div>
                {% endif %}
                {% if judges.e4 != '' %}
                    <div id="divE4"><span id="divJudgeDotE4" class="status-dot-small status-dot-red mr-1"></span> E4: {{judges.e4}}</div>
                {% endif %}
            </div>
            <div id="divCameras">
                {% for camera in cameras %}
                    <div id="divCam{{camera.id}}" onclick="CamClick({{camera.id}})">
                        <span id="camdot{{camera.id}}" class="status-dot-small status-dot-red mr-1"></span>
                        <span id="camtext{{camera.id}}" class="camera-text pl-1 pr-1">CAMERA: {{camera.name}} ({% for team in camera.teams.all %}{% if not forloop.first %},{% endif %}{{team.abbreviation}}{% endfor %})</span>
                    </div>
                {% endfor %}
            </div>
            <br/>
            <h3  class="pl-4">Start List</h3>
            <div id="divStartList" style="max-height:600px;overflow:auto;display:inline-block">

            </div>
        </div>
   </div>
    <div id="play-settings" style="display:none">
    <form id="play-settings-form">
        <input type="text" class="form-control" id="playSdpURL" name="playSdpURL" maxlength="1024" placeholder="wss://[ssl-certificate-domain-name]/webrtc-session.json">     
        <input type="text" class="form-control" id="playApplicationName" name="playApplicationName" maxlength="256">       
        <input type="text" class="form-control" id="playStreamName" name="playStreamName" maxlength="256">    
    </form>
    <button id="play-toggle" type="button" class="btn btn-main mb-2" style="display:none">Wozwa Hack</button>
</div>
 </div>
{% endblock %}

{% block scripts %}
<script src="https://www.webrtc-experiment.com/EBML.js"></script> 
<script type="module" src="{% static 'app/scripts/wowza/play.js' %}?v=1"></script>
<script src="{% static 'app/scripts/stream_listener.js' %}?v=1.11"></script>
<script src="{% static 'app/scripts/start_list.js' %}"></script>
<script type="text/javascript">

    var ev = "{{event_name}}";
    var Session = "{{session.id}}";
    var SessionName = "{{session}}";
    var token = "{{ csrf_token }}";
    var VidJSPlayer;
    var AthleteNames = new Array();
    {% for athlete in athletes %}
        AthleteNames[{{athlete.id}}] = "{{athlete}}";
    {% endfor %}
    var streams = new Array();
    {% for camera in cameras %}
        streams.push("{{camera.id}}");
    {% endfor %}


</script>
<script type="text/javascript">
    var CurrentAthlete = -1;
    var db = firebase.firestore();
    var docRef = db.collection("sessions").doc(Session).collection("event_managers").doc(ev);
    docRef.onSnapshot(function (doc) {
        if (CurrentAthlete != doc.data().athlete_id) {
            $("#divAthlete").html(AthleteNames[doc.data().athlete_id]);
            CheckStream(doc);
            CheckJudges(doc);
            LoadStartList();
            HighlightCamera();
        }
    });

    db.collection("sessions").doc(Session).collection("streams").where(firebase.firestore.FieldPath.documentId(), "in", streams)
        .onSnapshot(function (querySnapshot) {
            querySnapshot.forEach(function (doc) {
                SetCameraDots(doc);
            });
        });
    SetupChatListener();
    function SetCameraDots(doc) {
        console.log(doc.id + " | " + doc.data().connected + " | " + doc.data().status);
        if (doc.data().connected == true) {
            $("#camdot" + doc.id).removeClass("status-dot-red").removeClass("status-dot-yellow").addClass("status-dot-green");
            $("#camdot" + doc.id).prop("title", "LIVE");
        }
        else {
            if (doc.data().status == "started") {
                $("#camdot" + doc.id).removeClass("status-dot-red").addClass("status-dot-yellow").removeClass("status-dot-green");
                $("#camdot" + doc.id).prop("title", "NOT CONNECTED");
            }
            else {
                $("#camdot" + doc.id).addClass("status-dot-red").removeClass("status-dot-yellow").removeClass("status-dot-green");
                $("#camdot" + doc.id).prop("title", "NOT STARTED");
            }
        }
    }

    function SwapEvent(evIn) {
        window.location = "/overview/" + Session + "/" + evIn;
    }

    function CamClick(cam) {
        CheckStreamManual(cam);
        HighlightCamera();
    }

    function HighlightCamera() {
        $(".camera-text").removeClass("camera-text-selected");
        $("#camtext" + Stream).addClass("camera-text-selected");
    }

    function CheckJudges(doc) {
        if (doc.data().routine != undefined) {
            if (doc.data().d1ready)
                $("#divJudgeDotD1").removeClass("status-dot-red").addClass("status-dot-green");
            else
                $("#divJudgeDotD1").addClass("status-dot-red").removeClass("status-dot-green");
            if (doc.data().e1ready)
                $("#divJudgeDotE1").removeClass("status-dot-red").addClass("status-dot-green");
            else
                $("#divJudgeDotE1").addClass("status-dot-red").removeClass("status-dot-green");
            if (doc.data().e2ready)
                $("#divJudgeDotE2").removeClass("status-dot-red").addClass("status-dot-green");
            else
                $("#divJudgeDotE2").addClass("status-dot-red").removeClass("status-dot-green");
            if (doc.data().e3ready)
                $("#divJudgeDotE3").removeClass("status-dot-red").addClass("status-dot-green");
            else
                $("#divJudgeDotE3").addClass("status-dot-red").removeClass("status-dot-green");

            if (doc.data().e4ready)
                $("#divJudgeDotE4").removeClass("status-dot-red").addClass("status-dot-green");
            else
                $("#divJudgeDotE4").addClass("status-dot-red").removeClass("status-dot-green");
        }
    }

    

</script>
{% endblock %}
