{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div id="LockBlackout" style="width:100%;height:100%;background-color:#000000;opacity: .2;position:fixed;z-index:103;display:none" onclick="HideDetails()"></div>
<div id="DetailsArea" style="position:fixed;z-index:104;width:92%;top:4%;left:4%;display:none;align-content:center;text-align:center;overflow:auto;background-color: #1c1c24" >
    <div id="DetailsHeader" style="font-weight:bold;font-size:18px"></div>
</div>
<div id="divResults" align="center" style="color:black;margin:auto" >
    {% include "app/event_select_with_aa.html" %}  
    <div id="jsGridTeam" class="mb-2" ></div>

    {% if show_filters %}
        <div id="divFilters" class="row no-gutters text-white justify-content-center" style="width:400px">
            <div style="width:150px" class="mr-2">
                Level<br/>
                <select id="selLevel" onchange="LevelChanged()" class="selectpicker management-input" data-style="btn-main">
                    {% if levels|length > 1 %}
                        <option value="-1" selected>All</option>
                    {% endif %}
                    {% for level in levels %}
                        <option value="{{ level.id }}">{{ level.name }}</option>
                    {% endfor %}
                    
                </select>
            </div>
            <div style="width:100px">
                Age Group<br/>
                <select id="selAge" onchange="AgeChanged()" class="selectpicker management-input" data-style="btn-main">
                    <option value="-1" selected>All</option>
                </select>
            </div>
        </div>

    {% endif %}
    <div id="jsGrid" class="mt-2" ></div>
</div>
<div id="desktopTest" class="d-none d-lg-block"></div>
{% endblock %}

{% block scripts %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="{% static 'app/scripts/dots_area.js' %}?v=1"></script>
<script type="text/javascript">
    var Session = "{{session.id}}";
    var SessionName = "{{session}}";
    var ev = "{{event_name}}";
    var token = "{{ csrf_token }}";
    var TotalOnly = {{total_only|lower}};
    var DisplayFilters = {{show_filters|lower}};

    
</script>
<script type="text/javascript">
    //const firebase = require("firebase");
    var datahold;
    var ScoreboardRoutineID = -1;
    var Status = "";
    var Videos = new Array();
    var dbF = firebase.firestore();
    firebase.firestore.setLogLevel('debug');
    var fieldstest;
    if (ev == "AA") {
        //just check every x seconds
        GetRoutineAAData();
        GetTeamData();
        setInterval(GetRoutineAAData, 20000);
        setInterval(GetTeamData, 20000);
    }
    else {
        dbF.collection("sessions").doc(Session).collection("event_managers").doc(ev)
            .onSnapshot(function (doc) {
                console.log("scoreboard");
                SetBasedOnStatusScoreboard(doc);
            });
    }
    function SetBasedOnStatusScoreboard(doc) {
        if (doc.data() != undefined) {
            console.log("Status: " + Status + " | " + doc.data().status);
            console.log("Routine: " + ScoreboardRoutineID + " | " + doc.data().routine);
            if (Status != doc.data().status || ScoreboardRoutineID != doc.data().routine) {
                ScoreboardRoutineID = doc.data().routine;
                if (doc.data().status == "F" || Status == "" || doc.data().status == "N") {
                    
                    GetRoutineData();
                    GetTeamData();
                }
                Status = doc.data().status;
            }

            //$("#divStatus").html(doc.data().stream + " | " + doc.data().status);
        }
    }
    //GetRoutineData();
    function GetRoutineData() {
        let flevel = '-1';
        let fage = '-1';
        if (DisplayFilters) {
            flevel = $("#selLevel").val();
            fage = $("#selAge").val();
        }
        $.ajax({
            url: "/get_routines_by_SE/",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'Session': Session,
                'Ev': ev,
                'level': flevel,
                'age':fage,
            },
            success: function (data) {
                UpdateRoutines(data)
            }
        });
    }

    function GetRoutineAAData() {
        let flevel = '-1';
        let fage = '-1';
        if (DisplayFilters) {
            flevel = $("#selLevel").val();
            fage = $("#selAge").val();
        }
        $.ajax({
            url: "/get_routines_aa/",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'Session': Session,
                'level': flevel,
                'age':fage,
            },
            success: function (data) {
                UpdateAA(data)
            }
        });
    }

    function GetTeamData() {
        $.ajax({
            url: "/get_team_scores/",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'Session': Session,
                'Ev': ev,
            },
            success: function (data) {
                UpdateTeams(data)
            }
        });
    }

    function ExportScoresClick(session) {
        $("#modalMainTitle").html("Export Scores");
        $("#modalBodyArea2").hide();
        $("#modalBodyArea1").empty();
        $("#modalBodyArea1").load("/scoreboard_export/" + session, function () {
            $('.selectpicker').selectpicker();
        });

    }


    function SwapEvent(evIn) {
        window.location = "/scoreboard/" + evIn;
    }

    function UpdateRoutines(data) {
        console.log(data);
        AverageD = 0;
        AverageE = 0;
        AverageTotal = 0;
        MaxE = 0;
        MaxD = 0;
        MaxTotal = 0;
        let TempGymnast = "";
        let DataMod = data;

        //$('#divShorthandResults').empty();
        for (var i = 0; i < data.length; i++) {
            /* if ($("#divR" + data[i]["id"]).length == 0)
             {
               //dont have it so add it
               AddRoutine(data[i]);
               LastID=data[i]["id"];
             }*/
            //TempGymnast = data[i]["Name"];

           // if (TempGymnast != "null")
            //    data[i]["Gymnast"] = TempGymnast;
            data[i]["Level"] = data[i]["athlete__level"];
            data[i]["Team"] = data[i]["athlete__team"];
            //Videos[data[i]["id"]] = data[i]["stream_video_id"];
           /* if (data[i]["Level"] == "L4" || data[i]["Level"] == "L5" || data[i]["Level"] == "L6" || data[i]["Level"] == "L7")
                data[i]["Total"] = (parseFloat(data[i]["D"]) - parseFloat(data[i]["E"]));
            else
                data[i]["Total"] = (parseFloat(data[i]["D"]) + parseFloat(data[i]["E"]));*/
            data[i]["Place"] = i + 1;
            AverageD = AverageD + parseFloat(data[i]["score_d"]);
            AverageE = AverageE + parseFloat(data[i]["score_e"]);
            AverageTotal = AverageTotal + parseFloat(data[i]["score_final"]);
            if (MaxE < parseFloat(data[i]["score_e"]))
                MaxE = parseFloat(data[i]["score_e"]);
            if (MaxD < parseFloat(data[i]["score_d"]))
                MaxD = parseFloat(data[i]["score_d"]);
            if (MaxTotal < parseFloat(data[i]["score_final"]))
                MaxTotal = parseFloat(data[i]["score_final"]);

            LastID = data[i]["id"];
            data[i]["score_d"] = FormatWith0(data[i]["score_d"]);
            data[i]["score_e"] = FormatWith0(data[i]["score_e"]);
            data[i]["score_e1"] = FormatWith0(data[i]["score_e1"]);
            data[i]["score_e2"] = FormatWith0(data[i]["score_e2"]);
            data[i]["score_e3"] = FormatWith0(data[i]["score_e3"]);
            data[i]["score_e4"] = FormatWith0(data[i]["score_e4"]);
            data[i]["score_final"] = FormatWith0(data[i]["score_final"]);
            data[i]["score_neutral"] = FormatWith0(data[i]["score_neutral"]);


        }

        if (!TotalOnly) {
            $("#jsGrid").jsGrid({
                width: "100%",
                height: "600px",
                inserting: false,
                editing: false,
                sorting: true,
                paging: false,

                data: DataMod,

                rowClick: RowClick,

                fields: [
                    { name: "Place", title: "#", type: "number", width: 25 },
                    { name: "athlete__level__name", title: "Level", type: "text", width: 55 },
                    { name: "athlete__age__name", title: "Age Group", type: "text", width: 55 },
                    { name: "athlete__team__name", title: "Team", type: "text" },
                    { name: "athlete__name", title: "Gymnast", type: "text" },
                    { name: "score_d", title: "D-Score<hr class='jsgrid-hr'>Start Value", type: "number" },
                    { name: "score_neutral", title: "Neutral<br/>Deductions", type: "number" },
                    { name: "score_e", title: "E-Score<hr class='jsgrid-hr'>Deductions", type: "number" },
                    { name: "score_e1", title: "E-1", type: "number" },
                    { name: "score_e2", title: "E-2", type: "number" },
                    { name: "score_e3", title: "E-3", type: "number" },
                    { name: "score_e4", title: "E-4", type: "number" },
                    { name: "score_final", title: "Final Score", type: "number" }
                ]
            });

            AverageD = (AverageD / data.length).toFixed(3);
            AverageE = (AverageE / data.length).toFixed(3);
            AverageTotal = (AverageTotal / data.length).toFixed(3);
        }
        else {

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "600px",
                inserting: false,
                editing: false,
                sorting: true,
                paging: false,

                data: DataMod,

                rowClick: RowClick,

                fields: [
                    { name: "Place", title: "#", type: "number", width: 25 },
                    { name: "athlete__level__name", title: "Level", type: "text", width: 55 },
                    { name: "athlete__age__name", title: "Age Group", type: "text", width: 55 },
                    { name: "athlete__team__name", title: "Team", type: "text" },
                    { name: "athlete__name", title: "Gymnast", type: "text" },
                    { name: "score_final", title: "Final Score", type: "number" }
                ]
            });

             AverageTotal = (AverageTotal / data.length).toFixed(3);

        }

    }

    function FormatWith0(num) {
         if (Number.isInteger(num)) { 
            return num + ".0"
        } else {
            return num.toString(); 
        }
    }

   

    function UpdateTeams(data) {
        console.log(data);
        //$('#divShorthandResults').empty();
        for (var i = 0; i < data.length; i++) {
           // console.log(data[i]);
            //console.log(data[i]["score"]);
            data[i]["Place"] = i + 1;
            //console.log("to fixed " + i);
            try {
                data[i]["score"] = FormatWith0(Math.round((data[i]["score"]) * 1000) / 1000);//data[i]["score"].toFixed(2);
            }
            catch {
            }
        }

        $("#jsGridTeam").jsGrid({
            width: "100%",
            height: "120px",
            inserting: false,
            editing: false,
            sorting: true,
            paging: false,

            data: data,

            fields: [
                { name: "Place", title: "#", type: "number", width: 25 },
                { name: "team", title: "Team", type: "text" },
                { name: "score", title: "Score", type: "number" },

            ]
        });

    }

    function RowClick(args) {
        //console.log("Row Click");
        console.log(args);
        var d = args.item;
        index = args.itemIndex;
        //console.log(args.event);
        ShowDetails(d["id"], d["Team"] + " - " + d["Level"] + " - " + d["Gymnast"], args.event);

    }

    function ShowDetails(IDIn, GymIn, ev) {

        if ($('#desktopTest').is(':hidden')) {
            // device is small
            window.open("/view_routine/" + IDIn + "/0", '_blank');
        }
        else {
            $("#DetailsArea").empty();
            $("#DetailsArea").load("/view_routine/" + IDIn + "/1", function () {
                $("#LockBlackout").show();
                if ($('#desktopTest').is(':hidden')) {
                    // device is small

                    $("#DetailsArea").show();
                    $("#DetailsArea").css("height", "92%");
                } else {
                    AnimateShow("DetailsArea", ev);
                }

            });
        }
        /*if (TrainName != "")
            $("#DetailsArea").append("<div id='divDetails'><iframe src='master.php?id=" + IDIn + "&d=<?php echo $_GET['d'];?>&e=<?php echo $_GET['e'];?>&c=<?php echo $_GET['c'];?>&train=<?php echo $_GET['train'];?>&vid=" + Videos[IDIn] + "<?php if (isset($_GET['scoreboard'])) { echo ('&scoreboard=1');}?>' width='1600px' height='750px'>");
        else
            $("#DetailsArea").append("<div id='divDetails'><iframe src='master.php?id=" + IDIn + "&d=<?php echo $_GET['d'];?>&e=<?php echo $_GET['e'];?>&c=<?php echo $_GET['c'];?>&vid=" + Videos[IDIn] + "<?php if (isset($_GET['scoreboard'])) { echo ('&scoreboard=1');}?>' width='1600px' height='750px'>");
        $("#DetailsHeader").text(GymIn);*/
       
        

    }

    function HideDetails() {
        $("#LockBlackout").hide();
        $("#DetailsArea").hide();
        $("#DetailsArea").empty();
        clearInterval(RedLineInterval);

    }

    function AnimateShow(obj, ev) {
        // position:fixed;z-index:104;width:92%;top:4%;left:4%;
        $("#DetailsArea").height("auto");
        var theight = $("#DetailsArea").height();

        /*console.log(ev.pageX);
        console.log(ev.pageY);
        console.log($("#" + obj).offset().left);
        console.log($("#" + obj).offset().top);*/
        FurlX = ev.pageX;
        FurlY = ev.pageY;
        Furl = true;
        $("#" + obj).width("1");
        $("#" + obj).height("1");
        $("#" + obj).show();
        $("#" + obj).offset({ top: ev.pageY, left: ev.pageX });
        $("#" + obj).animate({ width: '92%', left: '4%', top: '4%', height: theight + 40 }, 500, function () {  });

    }

    function LevelChanged() {
        var levelID = $("#selLevel").val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: "/management/athlete_ages_list_all/",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'level': levelID       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#selAge").html(data);  // replace the contents of the city input with the data that came from the server
                $("#selAge").selectpicker('refresh');
                $("#selAge")[0].selectedIndex = 0;
                $("#selAge").change();
            }
        });

    }

    function AgeChanged() {
        if (ev == "AA")
            GetRoutineAAData();
        else
            GetRoutineData();
    }


</script>
<script>
     function UpdateAA(data) {
        console.log(data);
        //$('#divShorthandResults').empty();
        for (var i = 0; i < data.length; i++) {
            data[i]["Place"] = i + 1;
            data[i]["total_score"] = FormatWith0(Math.round((data[i]["total_score"] + Number.EPSILON) * 1000) / 1000);
            {% for ev in events %}
                 data[i]["{{ev|upper}}"] = FormatWith0(Math.round((data[i]["{{ev|upper}}"] + Number.EPSILON) * 100) / 100);
            {% endfor %}
        }
        

        $("#jsGrid").jsGrid({
            width: "100%",
            height: "600px",
            inserting: false,
            editing: false,
            sorting: true,
            paging: false,

            data: data,

            fields: [
                { name: "Place", title: "#", type: "number", width: 25 },
                { name: "athlete__name", title: "Gymnast", type: "text" },
                { name: "athlete__team__name", title: "Team", type: "text" },
                {% for ev in events %}
                    { name: "{{ev|upper}}", title: "{{ev|upper}}", type: "number" },
                {% endfor %}
                { name: "total_score", title: "Final Score", type: "number" }

            ]
        });

    }
</script>
{% endblock %}
