{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="margin:10px;padding:0">
    <div>
        <div id="divDisc" style="vertical-align: top;padding:3px;display:inline-block;margin-right:30px;">
		    <div id="divDiscHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Discipline</div>
		    <div id="divDiscList" class="listbox  setup-box" style="">
                {% for disc in discs %}
                    <div id="divDisc{{disc.id}}" name="divDisc{{disc.id}}" class="disc-list{% if disc.active is False %} ui-disabled {% endif %}" style="padding-bottom:5px" onclick="DiscClick({{disc.id}});">{{disc.name}}</div>
                {% endfor %}
		        
		    </div>
	    </div>

	    <div id="divCompetitions" style="display:inline-block;vertical-align: top;padding:3px;display:inline-block;margin-right:30px;" class="ui-disabled">
	        <div id="divCompHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Competition</div>
	        <div id="divCompList"class="listbox  setup-box"  style="width:400px;"></div><br/>
	    </div>

        <div id="divSessions" style="vertical-align: top;padding:3px;display:inline-block;margin-right:30px;" class="ui-disabled">
		    <div id="divSessionHeader" style="padding-bottom:5px;font-size:22px;font-weight:bold;text-align:center">Session</div>
		    <div id="divSessionList" class="listbox  setup-box" style="width:280px;"></div><br/>
		   
	    </div>
    </div>
    <br/>
    <br/>
    <div>
        <button href="#" id="btnView" type="button" class="btn-main btn-wide ui-disabled pt-4 pb-4" style="border-radius: 1rem;" onclick="btnViewClick()">View</button>
        <div id="divGetAccess" style="display:none">
            <button href="#" id="btnPurchase" type="button" class="btn-main btn-wide pt-4 pb-4" style="border-radius: 1rem;" onclick="btnPurchaseAccessClick()">Get Access</button><br/>
            <span style="font-size:.8rem">Have an Access Code? <a href="#" onclick="EnterAccessCode()">Enter it here</a></span>
        </div>
        <br/><br/>
    </div>
		
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var token = "{{ csrf_token }}";
</script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var SelectedComp = -1;
    var SelectedDisc = -1;
    var SelectedSession = -1;
    var SelectedEvent = -1;
    var Changed = false;

    function btnPurchaseAccessClick() {
        if (SelectedSession != -1) {
            $("#modalMainTitle").html("Get Spectator Access");
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/account/stripe_payment_screen/" + SelectedSession + "/SPECTATE/1", function () {
            });
            $("#modalMain").modal('show');
            $("#modalBodyArea1").show();
        }
    }

    function EnterAccessCode() {
        if (SelectedSession != -1) {
            $("#modalMainTitle").html("Get Spectator Access");
            $("#modalBodyArea2").hide();
            $("#modalBodyArea1").empty();
            $("#modalBodyArea1").load("/management/enter_access_code/" + SelectedSession + "", function () {
            });
            $("#modalMain").modal('show');
            $("#modalBodyArea1").show();
        }
    }

    function btnViewClick() {
        if (SelectedSession != -1) {
            window.location = "/spectate/" + SelectedSession + "/single/";
        }
    }

    function SessionClick(sesIn) {
        $('.session-list').removeClass("ctxSelected");
        $("#divSession" + sesIn).addClass("ctxSelected");
        SelectedSession = sesIn;
        CheckSessionAccess(SelectedSession)
       

    }

    function DiscClick(discIn) {
        $('.disc-list').removeClass("ctxSelected");
        $("#divDisc" + discIn).addClass("ctxSelected");
        SelectedDisc = discIn;
        SelectedComp = -1;
        $("#divCompetitions").removeClass("ui-disabled");
        $("#divCompList").load("/management/competition_list_all/?disc=" + SelectedDisc + "&current=1");
        $("#divSessionList").empty();
        $("#divSessions").addClass("ui-disabled");
        $("#btnView").addClass("ui-disabled");
        $("#divGetAccess").hide();
        $("#btnView").show();
    }


    function DisableAll() {
        //$("#divDisc").addClass("ui-disabled");
        $("#divCompetitions").addClass("ui-disabled");
        $("#divSessions").addClass("ui-disabled");
        $("#btnView").addClass("ui-disabled");
    }

    function CompClick(CompIn) {
        
        $('.comp-list').removeClass("ctxSelected");
        $("#divComp" + CompIn).addClass("ctxSelected");
        SelectedComp = CompIn;
        $("#divSessions").removeClass("ui-disabled");
        FillSession();
        $("#divGetAccess").hide();
        $("#btnView").show();
        $("#btnView").addClass("ui-disabled");

    }

    function CheckSessionAccess(ses) {
        $.ajax({
            url: "/account/check_session_access/" + ses + "/",
            success: function (data) {
                console.log(data)
                if (data == "Yes") {
                    $("#divGetAccess").hide();
                    $("#btnView").removeClass("ui-disabled");
                    $("#btnView").show();
                }
                else {
                    $("#btnView").hide();
                    $("#divGetAccess").show();
                }
            }
        });

    }

   
    function FillSession() {
        $("#divSessionList").load("/management/session_list/?comp="+ SelectedComp);
    }

</script>
{% endblock %}
