{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div  align="center">
    {% if display_type == 'single' %}
        {% include "app/event_select.html" %} 
    {% endif %}
   
    <div class="d-flex">
        <div class="flex-grow-1">
             <div id="divHeader"><h4>{{session.full_name}}</h4></div>
        
            <div class="row no-gutters">

               {% if display_type == 'single' %}
                    <div class="col-12" align="center">
                        <div id="play-video-container1" class="live-container d-flex align-items-center justify-content-center flex-column position-relative">
                            <div id="divScoreboard1" style="width:160px;position:absolute;top:5px;left:5px;z-index:104">

                            </div>
                    
                            <div id="player-waiting1" style="height:480px;display:flex" class="align-items-center"><h1>Waiting for Camera</h1></div>
                            <video id="player-video1" class="live-video" style="display:none" controls autoplay muted></video>
                            <div id="divStartList1" align="center" class=" mt-1 spectate_start_list_container"></div>
                        </div>
                        
                    </div>
                {% else %}
                    <div class="col-12 col-xl-6 pr-1" align="right">
                        <div id="play-video-container1" class="live-container d-flex align-items-center justify-content-center flex-column position-relative">
                             <div id="divScoreboard1" style="width:160px;position:absolute;top:5px;left:5px;z-index:104">

                            </div>
                            <div id="player-waiting1" style="height:480px;display:flex" class="align-items-center"><h1>Waiting for Camera</h1></div>
                            <video id="player-video1" class="live-video" style="display:none" controls autoplay muted></video>
                            <div class="d-flex w-100">
                                {% for ev in events %}
                                    <div class="flex-grow-1">
                                        <button id="btn{{ev.name}}1" type="button" class="btn event-display-1 btn-event{% if ev.name|lower == event_name|lower %}-selected{% endif %} mb-2" onclick="SwapEventDual(1,'{{ev.name|upper}}')"><img src="{% static 'app/images/' %}{{ev.name|lower}}-white.svg" height="30px"/></button>
                                    </div>
                                {% endfor %} 
                            </div>
                            <div id="divStartList1" align="center" class="spectate_start_list_container"></div>
                        </div>
                
                    </div>
                    <div class="col-12 col-xl-6 pl-1" align="left">
                        <div id="play-video-container2" class="live-container d-flex align-items-center justify-content-center flex-column position-relative">
                             <div id="divScoreboard2" style="width:160px;position:absolute;top:5px;left:5px;z-index:104">

                            </div>
                            <div id="player-waiting2" style="height:480px;display:flex" class="align-items-center"><h1>Waiting for Camera</h1></div>
                            <video id="player-video2" class="live-video" style="display:none" controls autoplay muted></video>
                            <div class="d-flex w-100">
                                {% for ev in events %}
                                    <div class="flex-grow-1">
                                        <button id="btn{{ev.name}}2" type="button" class="btn event-display-2 btn-event{% if ev.name|lower == event_name2|lower %}-selected{% endif %} mb-2" onclick="SwapEventDual(2,'{{ev.name|upper}}')"><img src="{% static 'app/images/' %}{{ev.name|lower}}-white.svg" height="30px"/></button>
                                    </div>
                                {% endfor %} 
                            </div>
                            <div id="divStartList2" align="center" class="spectate_start_list_container"></div>
                        </div>
               
                    </div>
               {% endif %}
               <!--<div class="col-xl-6 col-12" align="left"> </div>-->
               <br/>
               <br/>
               <br/>
               <div class="col-12 pt-4">
                   {% include "app/sponsor_display.html" %}
               </div>
            </div>
        </div>
        <div style="width:200px" class="ml-2 d-md-block d-none">{% include "app/update_area.html" %} </div>
    </div>
   </div>
{% endblock %}

{% block scripts %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<!--<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="{% static 'app/scripts/stream_listener_spectator_hls.js' %}?v=1.25"></script>
<script type="text/javascript">
    var ev = new Array();
    {% if display_type == 'single' %}
    ev[1] = "{{event_name}}";
    var dual = false;
    {% else %}
    ev[1] = "{{event_name}}";
    ev[2] = "{{event_name2}}";
    var dual = true;
    {% endif %}
    var Session = "{{session.id}}";
    var SessionName = "{{session}}";
    var token = "{{ csrf_token }}";
    var VidJSPlayer = new Array();
    var HLSPlayer = new Array();
    var AthleteNames = new Array();
    var ScoreboardOverlay = {{scoreboard_overlay|lower}};
    {% for athlete in athletes %}
        AthleteNames[{{athlete.id}}] = "{{athlete}}";
    {% endfor %}

</script>
<script type="text/javascript">
    var CurrentAthlete = new Array();
    CurrentAthlete[1] = -1;
    CurrentAthlete[2] = -1;
    var test;
    var refs = new Array();
    var db = firebase.firestore();
    firebase.firestore.setLogLevel('debug');
    SetEventListeners(1);
    if (ev[2] != undefined)
        SetEventListeners(2);
    db.collection("sessions").doc(Session).collection("competition_stream").orderBy("timestamp").limit(100).onSnapshot(function (querySnapshot) {
            UpdateCompetitionStream(querySnapshot);
        });
    //if (Hls.isSupported())
        //alert("HLS Supported");
   // alert("Can Play = " + document.getElementById("player-video1").canPlayType('application/vnd.apple.mpegurl'));

    function UpdateCompetitionStream(querySnapshot) {
        querySnapshot.docChanges().forEach(function (change) {
            //console.log(change.doc.data());
            if (change.type === "added") {
                docdata = change.doc.data();
                if (docdata.type == 'routine_start') {
                    let message = "<span class='update-message-header'>" + docdata.athlete_display + "</span><br/>" + "Starting Exercise " + docdata.event;
                    $("#divUpdates").prepend("<div id='divUpdate" + docdata.id + "' class='update-message update-routine-start' align='center' onclick='FeedSwapEvent(\"" + docdata.event + "\")' style='display:none'>" + message + "</div>");
                }
                else {
                    let message = "<span class='update-message-header'>" +docdata.athlete_display + "</span><br/>" + "Scored " + docdata.score + " on " + docdata.event;
                    $("#divUpdates").prepend("<div id='divUpdate" + docdata.id + "' class='update-message' align='center' style='display:none'>" + message + "</div>");
                }
                $("#divUpdate" + docdata.id).show('slow');
            }
        });
        FirstUpdateShow = false;
    }

    function SetEventListeners(which) {
        if (refs[which] != undefined)
            refs[which]();//release event listener
        console.log("Setting Event Listener " + which + " To " + ev[which]);
        CurrentAthlete[which] = -1;
        Stream[which] = -1;
        refs[which] = db.collection("sessions").doc(Session).collection("event_managers").doc(ev[which]).onSnapshot(function (doc) {
            HandleEventChanges(doc,which);
        });
    }

    function HandleEventChanges(doc, which) {
        if (doc.data() != undefined) {
            //console.log("Handle Evet Changes " + which);
            if (CurrentAthlete[which] != doc.data().athlete_id) {
                CurrentAthlete[which] = doc.data().athlete_id;
                if (ScoreboardOverlay)
                    LoadScoreboard(which);
               // $("#divAthlete" + which).html(AthleteNames[doc.data().athlete_id]);
                CheckStream(doc, which);
                LoadStartList(doc, which);
            }
            else {
                SetStartListDot(doc, which);
                if (doc.data().status == 'F') {
                    if (ScoreboardOverlay)
                        LoadScoreboard(which);
                }
            }
        }
        else {
            $("#player-video" + which).hide();
            $("#player-waiting" + which).css("display", "flex");
        }
    }

    function SwapEvent(evIn) {
        window.location = "/spectate/" + Session + "/single/" + evIn;
    }

    function SwapEventDual(which, evIn) {
        $(".event-display-" + which).addClass("btn-event").removeClass("btn-event-selected");
        $("#btn" + evIn + which).addClass("btn-event-selected");
        ev[which] = evIn;
        SetEventListeners(which)
    }

    function LoadScoreboard(which) {
        $("#divScoreboard" + which).load("/video_scoreboard/?Session=" + Session + "&Ath=" + CurrentAthlete[which], function()
        {
            //if (dual)
                //$("#divScoreboard2").html($("#divScoreboard").html());
        });
    }

    function GetTeamData() {
        $.ajax({
            url: "/get_team_scores/",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": token },
            data: {
                'Session': Session,
                'Ev': ev[1],
            },
            success: function (data) {
                UpdateTeams(data)
            }
        });
    }
    function UpdateTeams(data) {
        console.log(data);
        //$('#divShorthandResults').empty();
        for (var i = 0; i < data.length; i++) {
            data[i]["Place"] = i + 1;
        }

        $("#jsGridTeam").jsGrid({
            width: "100%",
            height: "120px",
            inserting: false,
            editing: false,
            sorting: true,
            paging: false,

            data: data,

            fields: [
                { name: "Place", title: "#", type: "number", width: 25 },
                { name: "lvl", title: "Level", type: "text"},
                { name: "team", title: "Team", type: "text" },
                { name: "score", title: "Score", type: "number" },

            ]
        });

    }

    function FeedSwapEvent(evIn) {
        if (!dual) {
            if (ev[1] != evIn)
                SwapEvent(evIn);
        }
        else {
            if (ev[1] != evIn && ev[2] != evIn)
                SwapEventDual(1, evIn);
        }
    }

    function LoadStartList(doc,which) {
       
        $("#divStartList" + which).load("/athlete_start_list_spectate/" + ev[which], function()
        {
            let active = $($("#divStartList" + which).children(0).children(0).children(0)[1]).val();
            //console.log(active);
            let trs = $("#divStartList" + which).children(0).children(0).children(0)[0];
           // console.log(trs);
            if (active != "trStartList-1") {
                active = $(trs).find($("#" + active));
                //console.log(active);
                //normal middle of pack
                if ($(active).prev().length >= 1 && $(active).next().length >= 1)
                    $("#divStartList" + which)[0].scrollTop = $(active).prev()[0].offsetTop;//$(active).prev()[0].scrollIntoView(true);
                else if ($(active).prev().length == 0) //no previous
                    $("#divStartList" + which)[0].scrollTop = $(active)[0].offsetTop;
                else
                    $("#divStartList" + which)[0].scrollTop = $(active)[0].offsetTop;
                SetStartListDot(doc, which);
            }
            //if (dual)
                //$("#divScoreboard2").html($("#divScoreboard").html());
        });

    }

    function SetStartListDot(doc,which) {
        let trs = $("#divStartList" + which).children(0).children(0).children(0)[0];
        //$(trs).find(".athlete-dot").hide();
        //find the active one for this which
        let active = $(trs).find("#divAthleteDots" + doc.data().athlete_id);
        //console.log("Set start list dot: #divAthleteDots" + doc.data().athlete_id + " | " + doc.data().status);
        if (doc.data().status == "AD" || doc.data().status == "F" || doc.data().status == "RD") {
            $(active).removeClass("status-dot-yellow").removeClass("status-dot-green").addClass("status-dot-red");
        }
        else if (doc.data().status == "N") {
            $(active).addClass("status-dot-yellow").removeClass("status-dot-green").removeClass("status-dot-red");
        }
        else if (doc.data().status == "S") {
            $(active).removeClass("status-dot-yellow").addClass("status-dot-green").removeClass("status-dot-red");
        }
        $(active).show();
    }


</script>
{% endblock %}
