<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>STS Live Gym</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
        <link rel="shortcut icon" href="{% static 'app/images/favicon.png' %}"/>
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    </head>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid justify-content-center">
            <img src="{% static 'app/images/stslivegym-white.svg' %}" style="height:42px">
        </div>
    </div>
    <div class="container-fluid body-content">
        <div align="center">
            <h2>Tutorial Videos</h2>
            <a target="_blank" href="https://stslivegym.com/media/stslivegym-admin-setup.mp4">Admin Competition Setup</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslg-tutorial-admin-overview.mp4">Admin Live Competition Overview</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslg-mag-tutorial-d-jury.mp4">MAG D-Jury</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslg-mag-tutorial-e-jury.mp4">MAG E-Jury</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslg-wag-tutorial-j1.mp4">WAG J-1</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslg-wag-tutorial-j2.mp4">WAG J-2</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslg-tutorial-coach.mp4">Coach</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslg-tutorial-camera.mp4">Camera</a><br/>
            <a target="_blank" href="https://stslivegym.com/media/stslivegym-spectator-signup.mp4">Sepctator Signup</a><br/>
        </div>
    </div>
</html>
