{% extends "app/layout.html" %}

{% block content %}
<div align="center" style="padding:0">
    {{session.full_name}}<br/>
    <br/>
    <div class="row no-gutters">
        <div class="col-3 pr-4" align="right">
             <h2>Payments Account</h2>
        </div>
        <div class="col-8 pt-2 pl-2" align="left">
             We use Stripe to process payouts.<br/>
            {% if connect_status == 'complete' %}
                {% if account.requirements.past_due|length > 0 %}
                    <span class="errorlist">Your account is currently restricted due to missing verification information.<br/>Visit the dashboard to fill out the needed information.</span>
                {% elif account.requirements.currently_due|length > 0 %}
                    <span class="errorlist">Your account requires more information and will become restricted if not filled out.<br/>Visit the dashboard to fill out the needed information.</span>
                {% elif account.requirements.eventually_due|length > 0 %}
                    Your account will eventually require more information in the future.  You can fill it out now by visiting the dashboard.
                {% else %}
                     Manage your account on the stripe dashboard.
                {% endif %}
                <br/>
                <a href="/account/stripe_goto_dashboard/"><button id="btnGotoDashboard" type="button" class="btn btn-main btn-long mt-2">Visit Dashboard</button></a>
            {% else %}
               
                {% if connect_status == 'details' %}
                    You must finish filling out account details before you can recieve payouts.<br/>
                    <a href="/account/stripe_connect_account/0"><button id="btnSetupAccount" type="button" class="btn btn-main btn-long mt-2">Finish Account Setup</button></a>
                {% elif connect_status == 'payouts' %}
                    Payouts are not yet enabled, please finish filling out your account details.<br/>
                    <a href="/account/stripe_connect_account/0"><button id="btnSetupAccount" type="button" class="btn btn-main btn-long mt-2">Finish Account Setup</button></a>
                {% else %}
                      You must setup your account to recieve payouts.<br/>
                    <a href="/account/stripe_connect_account/0"><button id="btnSetupAccount" type="button" class="btn btn-main btn-long mt-2">Setup Account</button></a>
                {% endif %}
           
                
            {% endif %}
        </div>
    </div>
   
</div>

{% endblock %}

