{% extends 'app/layout.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <div><h2>{{type}} Sign Up</h2>
  <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="row">
                <div class="col">
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
                    </div>
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-main mt-2">Sign up</button>
        </form>
    <br/><br/>
    </div>
</div>
{% endblock %}