<div align="center"> 
   {{message}}

    <div class="payment-container">

        Payment Method: 
             <select id="paymentMethod" class="selectpicker" onchange="PaymentMethodChange()" >
                 {% for method in methods %}
                    <option value="{{method.id}}" data-icon="fa fa-cc-{{method.card.brand}}"> ending in {{method.card.last4}}</option>
                 {% endfor %}
                 <option value="new">New Card</option>
            </select>
        <br/><br/>
        <div id="card-element">
            <!-- Elements will create input elements here -->
        </div>
        <button id="btnPayNow" class="payment-button" onclick="PayClick()">${{total}} Pay Now</button>
    </div>
    <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert" class="errorlist"></div>
</div>

<script type="text/javascript">
var stripe = Stripe('{{stripe_pk}}');
    var intent_secret = '{{intent_secret}}';
    var success_message = '{{success_message}}';
    var user_email = '{{request.user.email}}';
    var redirect = '{{redirect}}';
</script>
<script type="text/javascript">
    var elements = stripe.elements();
    var card = elements.create("card");
    $('.selectpicker').selectpicker();
    card.mount("#card-element");
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });
    PaymentMethodChange();
    function PaymentMethodChange() {
        if ($("#paymentMethod").val() == "new") {
            $("#card-element").show();
        }
        else
            $("#card-element").hide();
    }

    function PayClick() {
        var data;
        //var cardholderName = document.querySelector("#name").value;
        if ($("#paymentMethod").val() == "new") {
            data = {
                card: card,
                billing_details: {}
            };
        }
        else {
            data = $("#paymentMethod").val();
        }
        $("#btnPayNow").addClass('ui-disabled');
        stripe.confirmCardPayment(intent_secret, {
            receipt_email: user_email,
            payment_method: data,
            setup_future_usage: 'on_session'
        }).then(function (result) {
            $("#btnPayNow").removeClass('ui-disabled');
            //$("#modalLoad").modal('hide');
            if (result.error) {
                // Show error to your customer
                $("#card-errors").html(result.error.message);
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    alert(success_message);
                    if (redirect == '')
                        window.location.reload();
                    else
                        window.location.href = redirect;
                }
            }
            $("#modalLoad").modal('hide');
        });
    }
</script>