<div align="center"> 
   {{message}}

    <div class="payment-container">
        <table cellpadding="2" cellspacing="0">
            <tr>
                <td>Your credit and debit cards</td>
                <td class="pl-3">Expires</td>
            </tr>
            {% for method in methods %}
            <tr>
                <td valign="top">
                    <label style="margin-bottom:0!important"><input type="radio" name="paymentMethod" value="{{method.id}}" onclick="PaymentMethodChange()" {% if forloop.first %} checked {% endif %}>&nbsp;<i class=" fa fa-cc-{{method.card.brand}}"></i> <span class="muted-text">ending in</span> {{method.card.last4}}</label>
                </td>
                <td valign="top" class="pl-3">
                    {{method.card.exp_month}}/{{method.card.exp_year}}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <label style="margin-bottom:0!important"><input type="radio" name="paymentMethod" value="new"  onclick="PaymentMethodChange()" {% if methods|length == 0 %} checked {% endif %}> New Card</label>
                </td>
            </tr>
        </table>
        <br/>
        <div id="card-element">
            <!-- Elements will create input elements here -->
        </div>
        <button id="btnPayNow" class="payment-button" onclick="PayClick()">${{total}} Pay Now</button>
    </div>
    <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert" class="errorlist"></div>
</div>

<script type="text/javascript">
var stripe = Stripe('{{stripe_pk}}');
    var intent_secret = '{{intent_secret}}';
    var success_message = '{{success_message}}';
    var user_email = '{{request.user.email}}';
    var redirect = '{{redirect}}';
</script>

<script type="text/javascript">
    var elements = stripe.elements();
    var card = elements.create("card");
    card.mount("#card-element");
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });
    PaymentMethodChange();
    function PaymentMethodChange() {
        if ($("input[name='paymentMethod']:checked").val() == "new") {
            $("#card-element").show();
        }
        else
            $("#card-element").hide();
        $("tr").removeClass("payment-selected");
        $("input[name='paymentMethod']:checked").parent().parent().parent().addClass("payment-selected");


    }

    function PayClick() {
        var data;
        //var cardholderName = document.querySelector("#name").value;
        if ($("input[name='paymentMethod']:checked").val() == "new") {
            data = {
                card: card,
                billing_details: {}
            };
        }
        else {
            data = $("input[name='paymentMethod']:checked").val();
        }
        $("#btnPayNow").addClass('ui-disabled');
        stripe.confirmCardPayment(intent_secret, {
            receipt_email: user_email,
            payment_method: data,
            setup_future_usage: 'on_session'
        }).then(function (result) {
            $("#btnPayNow").removeClass('ui-disabled');
            //$("#modalLoad").modal('hide');
            if (result.error) {
                // Show error to your customer
                $("#card-errors").html(result.error.message);
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    alert(success_message);
                    if (redirect == '')
                        window.location.reload();
                    else
                        window.location.href = redirect;
                }
            }
            $("#modalLoad").modal('hide');
        });
    }
</script>