{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div class="modal fade" id="modalLoading" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalLoadingTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top:0;padding-bottom:0">
          <div>
        <h5 class="modal-title" id="modalLoadingTitle">Stream Setup</h5>
              </div>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left:inherit">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <div id="divSetupInfo">
            Before you can begin streaming we need to set some things up.  This may take several minutes.<br/>
            <button id="btnStartStreamBackend" type="button" class="btn btn-main" style="float:right" onclick="StartStreamBackendClick()">OK</button>
        </div>
        <div id="divLoadingInfo" style="display:none">
            <div  class="d-flex align-items-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Setting Up...</span>
                </div>
                <div class="ml-2">
                    Setting up.  This may take several minutes.
                </div>
            </div>
        </div>
        <div id="divSetupDone" style="display:none">
            Setup complete you can start your camera below when ready.<br/>
            <button id="btnStartStreamBackend" type="button" class="btn btn-main" style="float:right" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div align="center">
 
    <div class="container-fluid mt-3" id="publish-content">
        <div class="row justify-content-center no-gutters">
        <div class="col-md-8 col-sm-10">
            <div id="publish-video-container">
            <video id="publisher-video" autoplay playsinline muted controls></video>
            <div id="video-live-indicator">
                <span id="video-live-indicator-live" class="badge badge-pill badge-danger" style="display:none;">LIVE</span>
                <span id="video-live-indicator-error" class="badge badge-pill badge-warning" style="display:none;">ERROR</span>
            </div>
            <div id="video-controls" class="video-controls">
                <button id="publish-toggle" type="button" class="btn btn-main">Start</button>
            </div>
            <div>
                    <label for="camera-list-select">
                    Camera
                    </label>
                    <select id="camera-list-select" class="form-control">
                    </select>
                </div>
            </div>
             <div id="stats" align="center"></div>
        </div>
        <div class="col-md-4 col-sm-12" id="publish-settings" style="display:none" >
            <form id="publish-settings-form">
            <div class="row">
                <div class="col-12">
                <div class="form-group">
                    <label for="sdpURL">Signaling URL</label>
                    <input type="text" class="form-control" id="sdpURL" name="sdpURL" maxlength="1024" placeholder="wss://[ssl-certificate-domain-name]/webrtc-session.json">
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="applicationName">Application Name</label>
                    <input type="text" class="form-control" id="applicationName" name="applicationName" maxlength="256">
                </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="streamName">Stream Name</label>
                    <input type="text" class="form-control" id="streamName" name="streamName" maxlength="256">
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="audioBitrate">Audio Bitrate</label>
                    <div class="input-group">
                    <input type="number" class="form-control" id="audioBitrate" name="audioBitrate" value="64">
                    <div class="input-group-append">
                        <span class="input-group-text">Kbps</span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="audioCodec">Audio Codec</label>
                    <div class="input-group">
                    <select class="form-control" id="audioCodec" name="audioCodec">
                        <option value="opus" selected>Opus</option>
                    </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
               <div class="form-group">
                    <label for="videoBitrate">Video Bitrate</label>
                    <div class="input-group">
                    <input type="number" class="form-control" id="videoBitrate" name="videoBitrate" value="3500">
                    <div class="input-group-append">
                        <span class="input-group-text">Kbps</span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="videoCodec">Video Codec</label>
                    <div class="input-group">
                    <select class="form-control" id="videoCodec" name="videoCodec">
                        <option value="42e01f" selected>H.264</option>
                        <option value="VP8">VP8</option>
                        <option value="VP9">VP9</option>
                    </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="videoFrameRate">Frame Rate</label>
                    <div class="input-group">
                    <input type="number" class="form-control" id="videoFrameRate" name="videoFrameRate" value="30">
                    <div class="input-group-append">
                        <span class="input-group-text">fps</span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="frameSize">Frame Size</label>
                    <div class="input-group">
                    <select class="form-control" id="frameSize" name="frameSize">
                        <option selected value="default">
                        Default
                        </option>
                        <option value="1920x1080">
                        1920x1080
                        </option>
                        <option value="1280x720">
                        1280x720
                        </option>
                        <option value="800x600">
                        800x600
                        </option>
                        <option value="640x360">
                        640x360
                        </option>
                    </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                
                </div>
                <div class="col-2">
                <button id="camera-toggle" class="control-button">
                    <img alt="" class="noll" id="video-off" src="./images/videocam-32px.svg" />
                    <img alt="" class="noll" id="video-on" src="./images/videocam-off-32px.svg" style="display:none;"/>
                </button>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                <div class="form-group">
                    <label for="mic-list-select">
                    Input Microphone
                    </label>
                    <select id="mic-list-select" class="form-control">
                    </select>
                </div>
                </div>
                <div class="col-2">
                <button id="mute-toggle" class="control-button">
                    <img alt="" class="noll" id="mute-off" src="./images/mic-32px.svg" />
                    <img alt="" class="noll" id="mute-on" src="./images/mic-off-32px.svg" style="display:none;"/>
                </button>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                
                </div>
                <div class="col-2">
                <button id="publish-share-link" type="button" class="control-button mt-0">
                    <img alt="" class="noll" id="mute-off" src="./images/file_copy-24px.svg" />
                </button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>

  		
  	<div>
  		<span id="sdpDataTag"></span>
  	</div>
    <div class="row justify-content-center" id="transcoder-warning" style="display:none;">
        <div class="col-12 alert alert-warning p-2 text-center">
        Please visit <a href="https://cloud.wowza.com">cloud.wowza.com</a> to start your live stream.
        </div>
    </div>
    <div class="row justify-content-center invisible mt-3 col-10" id="error-panel">
        <div class="col-10 alert alert-danger alert-dismissible p-2">
        <button id="error-panel-close" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div id="error-messages">&nbsp;</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'app/scripts/wowza/publish.js' %}?v=1.21"></script>
<script type="text/javascript">
    $("#sdpURL").val('{{stream.sdp_url}}');
    $("#applicationName").val('{{stream.application_name}}');
    $("#streamName").val('{{stream.stream_name}}');
    var token = "{{ csrf_token }}";
    var Camera = "{{camera}}";
</script>
<script type="text/javascript">
    var SetupInterval;
    var LastStatus = "";
    var video = document.getElementById('publisher-video');
    var decodedFrames = 0,
                    droppedFrames = 0,
                    startTime = new Date().getTime(),
        initialTime = new Date().getTime();
     calculateStats();
    CheckStreamStatus().then((state) => {
        if (state != "started") {
            $('#modalLoading').modal('show');
        }
        });
    async function CheckStreamStatus() {
        const result = await $.ajax({
            url: "/streaming/get_state/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'camera': Camera,
            },
            dataType: 'json',
            success: function (data) {
               
            }
        });
        console.log(result["live_stream"]["state"]);
        if (result["live_stream"] != undefined)
            return (result["live_stream"]["state"]);
        else {
            alert("Your camera account is not setup, contact the meet administrator");
            return "error";
        }
    }

    function UpdateStreamStatus(status) {
        if (status != "connecting" && status != LastStatus) {
            LastStatus = status;
            console.log("Updateing Status: " + status);
            $.ajax({
                url: "/streaming/update_stream_status/",
                type: "POST",
                headers: { "X-CSRFToken": token },
                data: {
                    'camera': Camera,
                    'status': status,
                },
                dataType: 'json',
                success: function (data) {

                }
            });
        }
    }

    async function CheckStreamStats() {
        const result = await $.ajax({
            url: "/streaming/get_stats/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'camera': Camera,
            },
            dataType: 'json',
            success: function (data) {
               
            }
        });
        return result;
    }

    function StartStreamBackendClick() {
        //check state
        CheckStreamStatus().then(state => {
            if (state == "started")
                BackendDone();
            else if (state != "starting") {
                StartBackend();
                ShowBackendLoading();
            }
            else 
                ShowBackendLoading();   
        });
    }

    function ShowBackendLoading() {
        $("#divSetupInfo").hide();
        $("#divLoadingInfo").show();
        console.log("Set Interval");
        SetupInterval = setInterval(MonitorSetupStatus, 2000);
    }

    function MonitorSetupStatus() {
         CheckStreamStatus().then((state) => {
             if (state == "started") {
                 clearInterval(SetupInterval);
                 $('#divLoadingInfo').hide();
                 $('#divSetupDone').show();
             }
                
        });
    }

    function StartBackend() {
        $.ajax({
            url: "/streaming/start_stream/",
            type: "POST",
            headers: { "X-CSRFToken": token },
            data: {
                'camera': Camera,
            },
            dataType: 'json',
            success: function (data) {
               
            }
        });
    }

    function ResetLoading() {
        $("#divSetupInfo").show();
        $('#divLoadingInfo').hide();
        $('#divSetupDone').hide();
    }

      function calculateStats() {
 
            
          
            window.setInterval(function(){
 
                //see if webkit stats are available; exit if they aren't
                if (!video.webkitDecodedFrameCount){
                    console.log("Video FPS calcs not supported");
                    return;
                }
                //get the stats
                else{
                    var currentTime = new Date().getTime();
                    var deltaTime = (currentTime - startTime) / 1000;
                    var totalTime = (currentTime - initialTime) / 1000;
                    startTime = currentTime;

                    console.log("hi");
                    // Calculate decoded frames per sec.
                    var currentDecodedFPS  = (video.webkitDecodedFrameCount - decodedFrames) / deltaTime;
                    var decodedFPSavg = video.webkitDecodedFrameCount / totalTime;
                    decodedFrames = video.webkitDecodedFrameCount;
 
                    // Calculate dropped frames per sec.
                    var currentDroppedFPS = (video.webkitDroppedFrameCount - droppedFrames) / deltaTime;
                    var droppedFPSavg = video.webkitDroppedFrameCount / totalTime;
                    droppedFrames = video.webkitDroppedFrameCount;
 
                    //write the results to a table
                    $("#stats").html("FPS: " + currentDecodedFPS.toFixed());
                    /*$("#stats").html("<table><tr><th>Type</th><th>Total</th><th>Avg</th><th>Current</th></tr>" +
                        "<tr><td>Decoded</td><td>" + decodedFrames + "</td><td>" + decodedFPSavg.toFixed() + "</td><td>" + currentDecodedFPS.toFixed() + "</td></tr>" +
                        "<tr><td>Dropped</td><td>" + droppedFrames + "</td><td>" + droppedFPSavg.toFixed() + "</td><td>" + currentDroppedFPS.toFixed() + "</td></tr>" +
                        "<tr><td>All</td><td>" + (decodedFrames + droppedFrames) + "</td><td>" + (decodedFPSavg + droppedFPSavg).toFixed() + "</td><td>" + (currentDecodedFPS + currentDroppedFPS).toFixed() + "</td></tr></table>" +
                        "Camera resolution: " + video.videoWidth + " x " + video.videoHeight);*/
                }
            }, 1000);
        }

</script>
{% endblock %}
